@import url("https://fonts.googleapis.com/css2?family=Wallpoet:wght@400;800&family=Wallpoet:wght@300;400;500&display=swap");
/* Global styles */
.alienrpg ul ol {
  margin-left: 3px;
}

.alienrpg .window-content {
  font-family: "Wallpoet", sans-serif;
  color: greenyellow;
  background: #000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 2px;
  overflow-x: auto;
  border: greenyellow 3px;
}

.alienrpg h2 {
  border: 0;
  padding: 0;
  margin: 0;
  margin-left: 5px;
}

.alienrpg h3 {
  border: 0;
  padding: 0;
  margin: 0;
}

.resource-content button {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  border: 0;
  width: 30px;
  font-size: 1.5rem;
  padding: 0;
  color: #adff2f;
  margin: 0;
}

.rollable:hover, .rollable:focus {
  color: black;
  text-shadow: 0 0 20px red;
  font-size: 110%;
  cursor: pointer;
}

.rollItem:hover, .rollItem:focus {
  color: black;
  text-shadow: 0 0 20px red;
  font-weight: bolder;
  cursor: pointer;
}

.minus-btn .plus-btn {
  width: 10px;
  height: 10px;
  line-height: 20px;
  padding: 0;
}

.supply-btn {
  padding: 0;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  border-color: greenyellow;
  justify-items: center;
  margin: 0;
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  border-color: greenyellow;
  border-style: double;
  padding: 4px;
}

.grid-genPage {
  display: grid;
  grid-template-areas: 'Item1 Item2 Item2' 'Item1 Item4 Item4' 'Item8 Item5 Item5' 'Item8 Item3 Item3' 'Item9 Item6 Item6' 'Item9 Item7 Item7' 'Item9 Item10 Item10' 'Item11 Item10 Item10';
  grid-template-columns: 1fr 1fr 1fr;
}

.Item1 {
  grid-area: Item1;
  border: 1px solid greenyellow;
  padding: 5px;
}

.Item2 {
  grid-area: Item2;
  border: 1px solid greenyellow;
}

.Item3 {
  grid-area: Item3;
  border: 1px solid greenyellow;
  padding-left: 5px;
  padding-right: 5px;
}

.Item4 {
  grid-area: Item4;
  border: 1px solid greenyellow;
  padding-left: 5px;
  padding-right: 5px;
}

.Item5 {
  grid-area: Item5;
  border: 1px solid greenyellow;
}

.Item6 {
  grid-area: Item6;
  border: 1px solid greenyellow;
  justify-items: center;
}

.Item7 {
  grid-area: Item7;
  border: 1px solid greenyellow;
}

.Item8 {
  grid-area: Item8;
  border: 1px solid greenyellow;
  padding: 5px;
}

.Item9 {
  grid-area: Item9;
  border: 1px solid greenyellow;
}

.Item10 {
  grid-area: Item10;
  border: 1px solid greenyellow;
  padding-left: 5px;
  padding-right: 5px;
}

.Item11 {
  grid-area: Item11;
  border: 1px solid greenyellow;
  padding: 4px;
  padding-left: 24px;
}

.grid-container {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-areas: 'Col1 Col2 ';
  grid-template-rows: 1fr;
  grid-template-columns: 240px 1fr;
}

.Col1 {
  grid-area: Col1;
}

.Col2 {
  grid-area: Col2;
}

.grid-attr {
  display: grid;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid greenyellow;
  grid-template-areas: 'Attr1 Attr2 ';
  grid-template-columns: 190px 50px;
}

.Attr1 {
  grid-area: Attr1;
}

.Attr2 {
  grid-area: Attr2;
}

.Attr3 {
  grid-area: Attr3;
}

.Attr4 {
  grid-area: Attr4;
}

.grid-Consumables {
  display: grid;
  grid-template-areas: 'Heading Heading ' 'Air1 Air2' 'Food1 Food2' 'Power1 Power2' 'Water1 Water2';
  grid-template-columns: 1fr 1fr;
}

.Heading {
  grid-area: Heading;
  justify-self: left;
}

.Air1 {
  grid-area: Air1;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}

.Air2 {
  grid-area: Air2;
}

.Food1 {
  grid-area: Food1;
  justify-self: left;
}

.Food2 {
  grid-area: Food2;
}

.Power1 {
  grid-area: Power1;
  justify-self: left;
}

.Power2 {
  grid-area: Power2;
}

.Water1 {
  grid-area: Water1;
  justify-self: left;
}

.Water2 {
  grid-area: Water2;
}

.grid-vehicle-header {
  display: grid;
  border: 2px solid greenyellow;
  grid-template-areas: 'vChar vChar';
  grid-template-columns: auto;
}

.grid-vehicle {
  display: grid;
  border: 2px solid greenyellow;
  grid-template-areas: 'vItem1 vItem2 vItem3 vItem4' 'vItem5 vItem6 vItem7 vItem8';
  grid-template-columns: auto;
}

.vChar {
  grid-area: vChar;
}

.vItem1 {
  grid-area: vItem1;
}

.vItem2 {
  grid-area: vItem2;
}

.vItem3 {
  grid-area: vItem3;
}

.vItem4 {
  grid-area: vItem4;
}

.vItem5 {
  grid-area: vItem5;
}

.vItem6 {
  grid-area: vItem6;
}

.vItem7 {
  grid-area: vItem7;
}

.vItem8 {
  grid-area: vItem8;
}

.grid-weapon {
  display: grid;
  border: 2px solid greenyellow;
  grid-template-areas: 'wItem1 wItem2 wItem3 wItem4' 'wItem5 wItem6 wItem7 wItem7';
  grid-template-columns: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 2px;
}

.wItem1 {
  grid-area: wItem1;
}

.wItem2 {
  grid-area: wItem2;
}

.wItem3 {
  grid-area: wItem3;
}

.wItem4 {
  grid-area: wItem4;
}

.wItem5 {
  grid-area: wItem5;
}

.wItem6 {
  grid-area: wItem6;
}

.wItem7 {
  grid-area: wItem7;
}

.grid-items {
  display: grid;
  grid-template-areas: 'lCol1 lCol2 lCol2 lCol3 lCol4' 'lCol5 lCol6 lCol6 lCol7 lCol8';
  padding-bottom: 2px;
  grid-template-columns: 0.25fr 1fr 1.5fr 0.4fr 0.5fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.lCol1 {
  grid-area: lCol1;
  justify-self: left;
}

.lCol2 {
  grid-area: lCol2;
  justify-self: center;
}

.lCol3 {
  grid-area: lCol3;
  justify-self: right;
}

.lCol4 {
  grid-area: lCol4;
  justify-self: right;
}

.lCol5 {
  grid-area: lCol5;
  justify-self: left;
}

.lCol6 {
  grid-area: lCol6;
  justify-self: left;
}

.lCol7 {
  grid-area: lCol7;
  justify-self: right;
}

.lCol8 {
  grid-area: lCol8;
  justify-self: right;
}

.grid-talents {
  display: grid;
  grid-template-areas: 'talTitle talTitle' 'tal1 tal2' 'tal3 tal4';
  padding: 3px;
  grid-template-columns: 75% 25%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tal1 {
  grid-area: tal1;
  justify-self: center;
  padding-left: 8px;
}

.tal2 {
  grid-area: tal2;
  justify-self: right;
  padding-right: 8px;
}

.tal3 {
  grid-area: tal3;
  align-self: center;
}

.tal4 {
  grid-area: tal4;
  justify-self: right;
  padding-right: 8px;
  align-self: center;
}

.talTitle {
  grid-area: talTitle;
  background-color: #221f1f;
}

.grid-two {
  display: grid;
  grid-template-areas: 'box1 box2';
  padding: 3px;
  grid-template-columns: 25% 75%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.box1 {
  grid-area: box1;
  justify-self: center;
  padding-left: 8px;
}

.box2 {
  grid-area: box2;
  justify-self: right;
  padding-right: 8px;
}

.grid-2 {
  display: grid;
  grid-template-areas: 'box11 box21';
  padding: 3px;
  grid-template-columns: 75% 25%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.box11 {
  grid-area: box11;
  justify-self: center;
  padding-left: 8px;
}

.box21 {
  grid-area: box21;
  justify-self: right;
  padding-right: 8px;
}

.grid-one {
  display: grid;
  grid-template-areas: 'scr';
  padding: 3px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.scr {
  grid-area: scr;
  padding-left: 8px;
}

.grid-creature {
  display: grid;
  border: 2px solid greenyellow;
  grid-template-areas: 'vCre1 vCre2 ' 'vCre3 vCre4 ' 'vCre5 vCre6 ' 'vCre7 vCre8';
}

.vCre1 {
  grid-area: vCre1;
}

.vCre2 {
  grid-area: vCre2;
}

.vCre3 {
  grid-area: vCre3;
}

.vCre4 {
  grid-area: vCre4;
}

.vCre5 {
  grid-area: vCre5;
}

.vCre6 {
  grid-area: vCre6;
}

.vCre7 {
  grid-area: vCre7;
}

.vCre8 {
  grid-area: vCre8;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 0;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 0;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.alienrpg .flexcol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.alienrpg .flexcol > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.alienrpg .flexcol .flex1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.alienrpg .flexcol .flex2 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.alienrpg .flexcol .flex3 {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.alienrpg .alienrpg .flexcol .flex4 {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.alienrpg .flexrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.alienrpg .flexrow > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.alienrpg .flexrow .flex1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.alienrpg .flexrow .flex2 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.alienrpg .flexrow .flex3 {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.alienrpg .flexrow .flex4 {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.alienrpg.actor .encumbrance {
  background: rgba(0, 0, 0, 0.1);
  height: 12px;
  margin-top: 5px;
  border: 1px solid #111;
  border-radius: 3px;
  position: relative;
  width: calc(100% - 20px);
}

.alienrpg.actor .encumbrance .encumbrance-bar {
  position: absolute;
  top: 1px;
  left: 1px;
  background: greenyellow;
  height: 8px;
  border: 1px solid #6f5439;
  border-radius: 3px;
}

.alienrpg.actor .encumbrance .encumbrance-label {
  position: absolute;
  top: -3px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  color: #000;
  background: rgba(255, 255, 255, 0.4);
  padding: 0 3px;
}

.alienrpg.actor .encumbrance .encumbrance-breakpoint {
  position: absolute;
  left: 50%;
}

.alienrpg.actor .encumbrance .arrow-up {
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #666;
}

.alienrpg.actor .encumbrance .arrow-down {
  top: 0;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #666;
}

.alienrpg.actor .encumbrance.encumbered .arrow-up {
  border-bottom: 4px solid #fff;
}

.alienrpg.actor .encumbrance.encumbered .arrow-down {
  border-top: 4px solid #fff;
}

.alienrpg.actor .encumbrance.encumbered .encumbrance-bar {
  position: absolute;
  top: 1px;
  left: 1px;
  background: #ff1e00;
  height: 8px;
  border: 1px solid #b9ca1d;
  border-radius: 3px;
}

/* @group Blink */
.blink {
  -webkit-animation: blink 2s linear infinite;
  animation: blink 2s linear infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* @end */
/* class applies to select element itself, not a wrapper element */
.select-css {
  display: block;
  font-size: 15px;
  font-family: 'Wallpoet', sans-serif;
  font-weight: 700;
  color: greenyellow;
  width: 100%;
  max-width: 75%;
  /* useful when width is set to anything other than 100% */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid greenyellow;
  -webkit-box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
		for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
		
	*/
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23ADFF2F%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), -webkit-gradient(linear, left top, left bottom, from(black), to(black));
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23ADFF2F%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), -o-linear-gradient(top, black 0%, black 100%);
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23ADFF2F%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, black 0%, black 100%);
  background-repeat: no-repeat, repeat;
  /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
  background-position: right 0.7em top 50%, 0 0;
  /* icon size, then gradient */
  background-size: 0.65em auto, 100%;
}

/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
  display: none;
}

/* Hover style */
.select-css:hover {
  border-color: greenyellow;
}

/* Focus style */
.select-css:focus {
  border-color: greenyellow;
  /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
  -webkit-box-shadow: 0 0 1px 1px greenyellow;
  box-shadow: 0 0 1px 1px greenyellow;
  box-shadow: 0 0 0 1px -moz-mac-focusring greenyellow;
  color: greenyellow;
  outline: none;
  background-color: black;
}

/* Set options to normal weight */
.select-css option {
  font-weight: normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir='rtl'] .select-css,
:root:lang(ar) .select-css,
:root:lang(iw) .select-css {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em;
}

/* Disabled styles */
.select-css:disabled,
.select-css[aria-disabled='true'] {
  color: greenyellow;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), -webkit-gradient(linear, left top, left bottom, from(black), to(black));
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), -o-linear-gradient(top, black 0%, black 100%);
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, black 0%, black 100%);
}

.select-css:disabled:hover,
.select-css[aria-disabled='true'] {
  border-color: #aaa;
}

/* Styles limited to alienrpg sheets */
.alienrpg .item-form {
  font-family: "Wallpoet", sans-serif;
  background: #000;
}

.alienrpg .actor-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 180px;
  flex: 0 0 180px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 1px;
  background-color: #000;
  color: greenyellow;
}

.alienrpg .vehicle-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 125px;
  flex: 0 0 125px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 1px;
  background-color: #000;
  color: greenyellow;
}

.alienrpg .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.alienrpg .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.alienrpg h1.charname {
  height: 50px;
  padding: 0px;
  margin: 0 5px 5px 5px;
  border-bottom: 0;
}

.alienrpg h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
  color: greenyellow;
}

.alienrpg .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  color: greenyellow;
}

.alienrpg .alienrpg .sheet-body,
.alienrpg .tab,
.alienrpg .editor {
  height: 100%;
  background-color: #000;
  color: greenyellow;
  overflow: hidden;
}

.alienrpg .tox .tox-editor-container {
  background: #fff;
}

.alienrpg .tox .tox-edit-area {
  padding: 0 8px;
}

.alienrpg .maxboxsize {
  max-width: 35px;
  color: greenyellow;
  background-color: #000;
  height: 20px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.alienrpg .cashboxsize {
  max-width: 150px;
  color: greenyellow;
  justify-items: center;
  background-color: #000;
  text-align: center;
}

.alienrpg .textbox {
  color: greenyellow;
  justify-items: center;
  background-color: #000;
}

.alienrpg input {
  width: 200px;
  margin: 4px;
  color: greenyellow;
  font-family: monospace;
}

.alienrpg .ability-mod {
  color: greenyellow;
}

.alienrpg textarea {
  resize: none;
  padding: 2;
  color: greenyellow;
  border: 1px solid greenyellow;
}

.alienrpg form .sheet-content .click-stat-level {
  height: 18px;
  padding: 8px;
  background: black;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
  font-family: 'Roboto', system, -apple-system, sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  color: greenyellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.alienrpg .click-stat-level .fas {
  display: none;
  padding: 2px 4px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
  font-family: 'Roboto', system, -apple-system, sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  color: greenyellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.alienrpg .dots {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: greenyellow;
  margin-right: 8px;
  font-weight: 700;
  font-size: 15px;
}

.alienrpg .resource-label {
  font-family: "Wallpoet", sans-serif;
  text-transform: uppercase;
  padding-right: 5px;
  padding-left: 5px;
  color: greenyellow;
  justify-self: center;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}

.alienrpg .attr-label {
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 5px;
  color: greenyellow;
}

.alienrpg .tabs {
  height: 30px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  color: greenyellow;
  background-color: #000;
}

.alienrpg .tabs .item {
  line-height: 30px;
  font-weight: bold;
  color: greenyellow;
}

.alienrpg .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.alienrpg .items-list {
  list-style: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.alienrpg .item-header {
  background-color: #2c2828;
}

.alienrpg .item-name {
  margin: 0;
}

.alienrpg .item-controls {
  text-align: right;
}

.alienrpg .item-label {
  font-family: "Wallpoet", sans-serif;
  font-size: small;
  text-transform: uppercase;
  padding-right: 5px;
  padding-left: 5px;
  color: greenyellow;
}

.alienrpg .biog {
  height: 300px;
  padding: 3px 0;
  width: 1fr;
  font-family: 'Roboto', sans-serif;
}

.alienrpg .biog .biog-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.alienrpg .biog .editor-content {
  width: 550px;
  word-wrap: break-word;
  color: greenyellow;
  font-family: 'Roboto', sans-serif;
}

.alienrpg .biog img {
  display: block;
}
