@import url("https://fonts.googleapis.com/css2?family=Wallpoet:wght@400;800&family=Wallpoet:wght@300;400;500&display=swap");
/* Global styles */
.alienrpg .window-content {
  font-family: "Wallpoet", sans-serif;
  color: greenyellow;
  background: #000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 2px;
  overflow-x: auto;
  border: greenyellow 3px;
}

.alienrpg h2 {
  border: 0;
  padding: 0;
  margin: 0;
  margin-left: 5px;
}

.alienrpg h3 {
  border: 0;
  padding: 0;
  margin: 0;
}

.resource-content button {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  border: 0;
  width: 30px;
  font-size: 1.5rem;
  padding: 0;
  color: #adff2f;
  margin: 0;
}

.rollable:hover, .rollable:focus {
  color: black;
  text-shadow: 0 0 20px red;
  font-size: 110%;
  cursor: pointer;
}

.rollItem:hover, .rollItem:focus {
  color: black;
  text-shadow: 0 0 20px red;
  font-size: 110%;
  cursor: pointer;
}

.minus-btn .plus-btn {
  width: 10px;
  height: 10px;
  line-height: 20px;
  padding: 0;
}

.supply-btn {
  padding: 0;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  border-color: greenyellow;
  justify-items: center;
  margin: 0;
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  border-color: greenyellow;
  border-style: double;
  padding: 4px;
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-2row {
  grid-column: span 1 / span 3;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  justify-items: center;
}

.grid-genPage {
  display: grid;
  grid-template-areas: 'Item1 Item2 Item2' 'Item1 Item4 Item4' 'Item8 Item5 Item5' 'Item8 Item3 Item3' 'Item9 Item6 Item6' 'Item9 Item7 Item7' 'Item9 . .' 'Item9 . .';
  grid-template-columns: 1fr 1fr 1fr;
}

.Item1 {
  grid-area: Item1;
  border: 1px solid greenyellow;
  padding: 5px;
}

.Item2 {
  grid-area: Item2;
  border: 1px solid greenyellow;
}

.Item3 {
  grid-area: Item3;
  border: 1px solid greenyellow;
}

.Item4 {
  grid-area: Item4;
  border: 1px solid greenyellow;
}

.Item5 {
  grid-area: Item5;
  border: 1px solid greenyellow;
}

.Item6 {
  grid-area: Item6;
  border: 1px solid greenyellow;
  justify-items: center;
}

.Item7 {
  grid-area: Item7;
  border: 1px solid greenyellow;
}

.Item8 {
  grid-area: Item8;
  border: 1px solid greenyellow;
  padding: 5px;
}

.Item9 {
  grid-area: Item9;
  border: 1px solid greenyellow;
}

.grid-container {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-areas: 'Col1 Col2 ';
  grid-template-rows: 1fr;
  grid-template-columns: 240px 1fr;
}

.Col1 {
  grid-area: Col1;
}

.Col2 {
  grid-area: Col2;
}

.grid-attr {
  display: grid;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid greenyellow;
  grid-template-areas: 'Attr1 Attr2 ';
  grid-template-columns: 190px 50px;
}

.Attr1 {
  grid-area: Attr1;
}

.Attr2 {
  grid-area: Attr2;
}

.Attr3 {
  grid-area: Attr3;
}

.Attr4 {
  grid-area: Attr4;
}

.grid-Consumables {
  display: grid;
  grid-template-areas: 'Heading Heading ' 'Air1 Air2' 'Food1 Food2' 'Power1 Power2' 'Water1 Water2';
  grid-template-columns: 1fr 1fr;
}

.Heading {
  grid-area: Heading;
  justify-self: left;
}

.Air1 {
  grid-area: Air1;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}

.Air2 {
  grid-area: Air2;
}

.Food1 {
  grid-area: Food1;
  justify-self: left;
}

.Food2 {
  grid-area: Food2;
}

.Power1 {
  grid-area: Power1;
  justify-self: left;
}

.Power2 {
  grid-area: Power2;
}

.Water1 {
  grid-area: Water1;
  justify-self: left;
}

.Water2 {
  grid-area: Water2;
}

.grid-vehicle-header {
  display: grid;
  border: 2px solid greenyellow;
  grid-template-areas: 'vChar vChar';
  grid-template-columns: auto;
}

.grid-vehicle {
  display: grid;
  border: 2px solid greenyellow;
  grid-template-areas: 'vItem1 vItem2 vItem3 vItem4' 'vItem5 vItem6 vItem7 vItem8';
  grid-template-columns: auto;
}

.vChar {
  grid-area: vChar;
}

.vItem1 {
  grid-area: vItem1;
}

.vItem2 {
  grid-area: vItem2;
}

.vItem3 {
  grid-area: vItem3;
}

.vItem4 {
  grid-area: vItem4;
}

.vItem5 {
  grid-area: vItem5;
}

.vItem6 {
  grid-area: vItem6;
}

.vItem7 {
  grid-area: vItem7;
}

.vItem8 {
  grid-area: vItem8;
}

.grid-weapon {
  display: grid;
  border: 2px solid greenyellow;
  grid-template-areas: 'wItem1 wItem2 wItem3 wItem4' 'wItem5 wItem6 wItem7 wItem7';
  grid-template-columns: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 2px;
}

.wItem1 {
  grid-area: wItem1;
}

.wItem2 {
  grid-area: wItem2;
}

.wItem3 {
  grid-area: wItem3;
}

.wItem4 {
  grid-area: wItem4;
}

.wItem5 {
  grid-area: wItem5;
}

.wItem6 {
  grid-area: wItem6;
}

.wItem7 {
  grid-area: wItem7;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 0;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 0;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Styles limited to alienrpg sheets */
.alienrpg .item-form {
  font-family: "Wallpoet", sans-serif;
  background: #000;
}

.alienrpg .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 180px;
  flex: 0 0 180px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 1px;
  background-color: #000;
  color: greenyellow;
}

.alienrpg .vehicle-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 130px;
  flex: 0 0 130px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 1px;
  background-color: #000;
  color: greenyellow;
}

.alienrpg .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.alienrpg .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.alienrpg h1.charname {
  height: 50px;
  padding: 0px;
  margin: 0 5px 5px 5px;
  border-bottom: 0;
}

.alienrpg h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
  color: greenyellow;
}

.alienrpg .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  color: greenyellow;
}

.alienrpg .alienrpg .sheet-body,
.alienrpg .tab,
.alienrpg .editor {
  height: 100%;
  background-color: #000;
  color: greenyellow;
  overflow: hidden;
}

.alienrpg .tox .tox-editor-container {
  background: #fff;
}

.alienrpg .tox .tox-edit-area {
  padding: 0 8px;
}

.alienrpg .maxboxsize {
  max-width: 35px;
  color: greenyellow;
  background-color: #000;
  height: 20px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.alienrpg .cashboxsize {
  max-width: 150px;
  color: greenyellow;
  justify-items: center;
  background-color: #000;
  text-align: center;
}

.alienrpg .textbox {
  color: greenyellow;
  justify-items: center;
  background-color: #000;
}

.alienrpg input {
  width: 200px;
  margin: 4px;
  color: greenyellow;
  font-family: monospace;
}

.alienrpg .ability-mod {
  color: greenyellow;
}

.alienrpg .selectBox {
  color: greenyellow;
}

.alienrpg .selectBox select {
  color: greenyellow;
  background-color: #000;
  font-size: 15px;
}

.alienrpg textarea {
  resize: none;
  width: 98%;
  padding: 0;
  color: greenyellow;
  margin: 4px;
  border: 1px solid greenyellow;
}

.alienrpg form .sheet-content .click-stat-level {
  height: 18px;
  padding: 8px;
  background: black;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
  font-family: 'Roboto', system, -apple-system, sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  color: greenyellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.alienrpg .click-stat-level .fas {
  display: none;
  padding: 2px 4px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
  font-family: 'Roboto', system, -apple-system, sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  color: greenyellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.alienrpg .dots {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: greenyellow;
  margin-right: 8px;
  font-weight: 700;
  font-size: 15px;
}

.alienrpg .resource-label {
  font-family: "Wallpoet", sans-serif;
  text-transform: uppercase;
  padding-right: 5px;
  padding-left: 5px;
  color: greenyellow;
  justify-self: center;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}

.alienrpg .attr-label {
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 5px;
  color: greenyellow;
}

.alienrpg .item-label {
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 15px;
  color: greenyellow;
}

.alienrpg .tabs {
  height: 40px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  color: greenyellow;
  background-color: #000;
}

.alienrpg .tabs .item {
  line-height: 40px;
  font-weight: bold;
  color: greenyellow;
}

.alienrpg .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.alienrpg .items-list {
  list-style: none;
  margin: 7px 0;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
}

.alienrpg .items-list .item-header {
  font-weight: bold;
}

.alienrpg .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #bbb;
}

.alienrpg .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.alienrpg .items-list .item img {
  display: block;
}

.alienrpg .items-list .item-name {
  margin: 0;
}

.alienrpg .items-list .item-controls {
  text-align: right;
}
