$c-white: hsl(0, 0%, 100%);
$c-black: hsl(0, 0%, 0%);
$c-green: hsl(84, 100%, 59%);

:root {
  --aliengreen: hsl(84, 100%, 59%);
  --aliendarkergreen: hsl(141, 60%, 40%);
  --alienitemselect: hsl(70, 80%, 74%);
  --alienoddtab: hsl(72, 29%, 7%);
  --blue: hsl(224, 75%, 62%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --alientextjournal: hsl(187, 52%, 80%);
  --journalback: url(../images/mother-instructions/indbackground2.png);
  --evolvedjournalback: #f7f5f0;
  --chatbackground: url(../images/IndBackground3.png);
  --alienchatfont: "Blinker", sans-serif;
  --alienchatwhite: hsl(0, 0%, 100%);
  --alienchatred: hsl(0, 100%, 50%);
  --alienchatredshadow: hsl(0, 0%, 90%);
  --alienchatblue: hsl(240deg 42% 72%);
  // --alienchatlightblue: hsl(240, 96%, 70%);
  --alienchatlightblue: hsl(120, 97%, 41%);
  --alienchatlightgreen: hsl(120, 97%, 41%);
  --alienchatgoldenrod: hsl(43, 74%, 49%);
  --table-row-color-even: hsl(43, 74%, 49%);
  --color-underline-header: hsl(12, 62%, 29%);
}
