<form>
  <div class="form-group">
    <label>{{localize "ALIENRPG.SelectFirer"}}</label>
    <select id="FirerSelect" name="FirerSelect">${options}</select>
    {{log "CONTEXT!!!!"}} {{log this}}
  </div>
  <div class="form-group">
    <label>{{localize "ALIENRPG.Range"}} {{localize "ALIENRPG.MODIFIER"}}</label>
    <select id="rangeMod" name="rangeMod">
      <option value="-2">{{localize "ALIENRPG.Extreme"}}</option>
      <option value="-1">{{localize "ALIENRPG.Long"}}</option>
      <option value="0">{{localize "ALIENRPG.Medium"}}</option>
      <option value="+1">{{localize "ALIENRPG.Short"}}</option>
      <option value="+2">{{localize "ALIENRPG.Contact"}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>{{localize "ALIENRPG.BaseMod"}}</label>
    <input type="text" id="modifier" name="modifier" value="0" autofocus="autofocus" />
  </div>
  <div class="form-group">
    <label>{{localize "ALIENRPG.StressMod"}}</label>
    <input type="text" id="stressMod" name="stressMod" value="0" autofocus="autofocus" />
  </div>

</form>