<p>{{localize 'ALIENRPG.DialTextXeno'}}</p>
<div class='form-group'>
	<label style='flex-grow: 2;'>{{localize 'ALIENRPG.Damage'}}</label>
	<input type='text' id='damage' name='damage' value='0' autofocus='autofocus' />
</div>