<p>{{localize 'ALIENRPG.DialText'}}</p>
<div class='form-group'>
	<label style='flex-grow: 2;'>{{localize 'ALIENRPG.ResolveMod'}}</label>
	<input type='text' id='resolveMod' name='resolveMod' value='0' autofocus='autofocus' />
</div>