<p>{{localize 'ALIENRPG.DialText'}}</p>
<div class='form-group'>
	<label style='flex-grow: 2;'>{{localize 'ALIENRPG.StressMod'}}</label>
	<input type='text' id='stressMod' name='stressMod' value='0' autofocus='autofocus' />
</div>