<ol class="items-list">
  {{#if isEnc }}
    {{#with actor.system.general.encumbrance}}
      <div class="encumbrance-label">{{localize "ALIENRPG.Encumbrance"}} - {{value}}{{localize "ALIENRPG.AbbreviationKg"}} / {{max}}{{localize "ALIENRPG.AbbreviationKg"}}</div>
      <div class="encumbrance {{#if encumbered}}encumbered blink{{/if}}">
        <span class="encumbrance-bar" style="width:{{pct}}%"></span>
        <i class="encumbrance-breakpoint encumbrance-33 arrow-up"></i>
        <i class="encumbrance-breakpoint encumbrance-33 arrow-down"></i>
        <i class="encumbrance-breakpoint  encumbrance-66 arrow-up"></i>
        <i class="encumbrance-breakpoint  encumbrance-66 arrow-down"></i>
      </div>
      <br>
    {{/with}}
  {{/if}}
  <!-- Display Active Items -->
  <h2 class="">{{localize "ALIENRPG.Active"}}</h2>
  {{#each sections as |section sid|}}
    <li class=" grid-items item-header">
      <div class="item-name lCol1">{{section.label}}</div>
      <div class="item-name lCol2">{{localize "ALIENRPG.Name"}}</div>
      <!-- <div class="item-detail item-weight lCol10">{{localize "ALIENRPG.Damage"}}</div> -->
      {{#ife section.section 'Weapons'}}
        <div class="item-detail lCol17">{{localize "ALIENRPG.QuantityLabel"}}</div>
        <div class="item-detail lCol15">{{localize "ALIENRPG.Range"}}</div>
        <div class="item-detail lCol13">{{localize "ALIENRPG.Pwr"}}</div>
        <div class="item-detail lCol10">{{localize "ALIENRPG.Dam"}}</div>
        <div class="item-detail item-weight lCol11">{{localize "ALIENRPG.Rds"}}</div>
      {{/ife}}
      {{#ife section.section 'Items'}}
        <span class="item-detail lCol17">{{localize "ALIENRPG.QuantityLabel"}}</span>
        <span class="item-detail lCol13">{{localize "ALIENRPG.Pwr"}}</span>
        <span class="item-detail item-weight lCol11">{{localize "ALIENRPG.Food"}}</span>
        <span class="item-detail item-weight lCol10">{{localize "ALIENRPG.Water"}}</span>
      {{/ife}}
      {{#ife section.section 'Armor'}}
        <div class="item-detail lCol10">{{localize "ALIENRPG.Air"}}</div>
        <div class="item-detail lCol11">{{localize "ALIENRPG.Armor"}}</div>
      {{/ife}}

      <div class="item-detail item-weight lCol3">{{localize "ALIENRPG.AbbreviationKg"}}</div>


    </li>

    {{#each section.items as |item iid|}}
      {{#ife item.system.header.active true }}
        <li class="item grid-items" data-item-id="{{item._id}}">
          <div class="item-image lCol5 activate"><img src="{{item.img}}" data-item="{{item.system.header.active}}" title="{{item.name}}" width="24" height="24" /></div>
          <span class="item-detail rollItem lCol6" data-item="{{item.name}}" data-mod="{{system.skills.rangedCbt.mod}}">{{item.name~}}</span>

          {{#ife item.type 'weapon'}}
            {{#ife item.system.header.type.value '1'}}
              <input type="text" class="item-label maxboxsize lCol18 inline-edit" data-mod="system.attributes.quantity.value" name="item.system.attributes.quantity.value" value="{{item.system.attributes.quantity.value}}" data-dtype="String" />
              <span class="item-detail lCol16" data-item="{{system.attributes.range.value}}">{{gRng system.attributes.range.value}}</span>
              <span class="item-detail pwr-btn Power2 lCol14" data-spbutt="Power" data-id="{{item._id}}" data-item="{{system.attributes.power.value}}">{{system.attributes.power.value}}</span>
              <input type="text" class="item-detail maxboxsize lCol12 inline-edit" data-mod="system.attributes.rounds.value" name="item.system.attributes.rounds.value" value="{{item.system.attributes.rounds.value}}" data-dtype="String" />
              <span class="item-detail lCol9" data-item="{{system.attributes.damage.value}}">{{system.attributes.damage.value}}</span>
            {{/ife}}

            {{#ife item.system.header.type.value '2'}}
              <input type="text" class="item-label maxboxsize lCol18 inline-edit" data-mod="system.attributes.quantity.value" name="item.system.attributes.quantity.value" value="{{item.system.attributes.quantity.value}}" data-dtype="String" />
              <span class="item-detail lCol16" data-item="{{system.attributes.range.value}}">{{gRng system.attributes.range.value}}</span>
              <span class="item-detail pwr-btn Power2 lCol14" data-spbutt="Power" data-id="{{item._id}}" data-item="{{system.attributes.power.value}}">{{system.attributes.power.value}}</span>
              <span class="item-detail lCol9" data-item="{{system.attributes.damage.value}}">{{system.attributes.damage.value}}</span>
            {{/ife}}
          {{/ife}}

          {{#ife item.type 'item'}}
            {{#ife system.header.type.value '1'}}
              <input type="text" class="item-label maxboxsize lCol18 inline-edit" data-mod="system.attributes.quantity.value" name="item.system.attributes.quantity.value" value="{{item.system.attributes.quantity.value}}" data-dtype="String" />
            {{/ife}}
            {{#ife system.header.type.value '2'}}
              <input type="text" class="item-label maxboxsize lCol18 inline-edit" data-mod="system.attributes.quantity.value" name="item.system.attributes.quantity.value" value="{{item.system.attributes.quantity.value}}" data-dtype="String" />
            {{/ife}}

            {{#ife item.system.header.type.value '3'}}
              <span class="item-detail pwr-btn Power2 lCol14" data-spbutt="Power" data-id="{{item._id}}" data-item="{{item.system.attributes.power.value}}">{{item.system.attributes.power.value}}</span>
            {{/ife}}

            {{#ife item.system.header.type.value '4'}}
              <span class="item-detail pwr-btn Power2 lCol14" data-spbutt="Power" data-id="{{item._id}}" data-item="{{item.system.attributes.power.value}}">{{item.system.attributes.power.value}}</span>
              <span class="item-detail lCol9" data-item="{{system.attributes.damage.value}}">{{system.attributes.damage.value}}</span>
            {{/ife}}

            {{#ife system.header.type.value '6'}}
              <input type="text" class="item-label maxboxsize lCol18 inline-edit" data-mod="system.attributes.quantity.value" name="item.system.attributes.quantity.value" value="{{item.system.attributes.quantity.value}}" data-dtype="String" />
            {{/ife}}


            {{#ife item.system.header.type.value '7'}}
              <input type="text" class="item-label maxboxsize lCol12 inline-edit" data-mod="system.attributes.food.value" name="item.system.attributes.food.value" value="{{item.system.attributes.food.value}}" data-dtype="String" />
              <input type="text" class="item-label maxboxsize lCol9 inline-edit" data-mod="system.attributes.water.value" name="item.system.attributes.water.value" value="{{item.system.attributes.water.value}}" data-dtype="String" />
            {{/ife}}

            {{#ife item.system.header.type.value '8'}}
              <span class="item-detail pwr-btn Power2 lCol14" data-spbutt="Power" data-id="{{item._id}}" data-item="{{item.system.attributes.power.value}}">{{item.system.attributes.power.value}}</span>
            {{/ife}}

            {{#ife item.system.header.type.value '10'}}
              <span class="item-detail pwr-btn Power2 lCol14" data-spbutt="Power" data-id="{{item._id}}" data-item="{{item.system.attributes.power.value}}">{{item.system.attributes.power.value}}</span>
              <input type="text" class="item-label maxboxsize lCol12 inline-edit" data-mod="system.attributes.food.value" name="item.system.attributes.food.value" value="{{item.system.attributes.food.value}}" data-dtype="String" />
              <input type="text" class="item-label maxboxsize lCol9 inline-edit" data-mod="system.attributes.water.value" name="item.system.attributes.water.value" value="{{item.system.attributes.water.value}}" data-dtype="String" />
            {{/ife}}

            {{#ife system.header.type.value '11'}}
              <input type="text" class="item-label maxboxsize lCol18 inline-edit" data-mod="system.attributes.quantity.value" name="item.system.attributes.quantity.value" value="{{item.system.attributes.quantity.value}}" data-dtype="String" />
            {{/ife}}
          {{/ife}}

          {{#ife item.type 'armor'}}
            <span class="item-detail lCol12" data-item="{{system.attributes.armorrating.value}}">{{system.attributes.armorrating.value}}</span>
            <input type="text" class="item-label maxboxsize lCol9 inline-edit" data-mod="system.attributes.airsupply.value" name="item.system.attributes.airsupply.value" value="{{item.system.attributes.airsupply.value}}" data-dtype="String" />
          {{/ife}}

          <div class="item-detail lCol7" style="font-size: smaller;">{{ item.totalWeight }} {{localize "ALIENRPG.AbbreviationKg"}}</div>
          <div class="item-controls lCol8">
            <a class="item-control item-edit" data-item-id="{{item._id}}" title="{{localize 'ALIENRPG.EditItem'}}"><i class="fas fa-edit"></i></a>
          </div>
        </li>

        </li>
      {{/ife}}
    {{/each}}
  {{/each}}

  <br><br>

  <!-- Display Owned -->
  <h2 class="">{{localize "ALIENRPG.Inactive"}}</h2>
  {{#each sections as |section sid|}}
    <li class=" grid-items item-header">
      <div class="item-name lCol1">{{section.label}}</div>
      <div class="item-name lCol2">{{localize "ALIENRPG.Name"}}</div>
      <!-- <div class="item-detail item-weight lCol10">{{localize "ALIENRPG.Damage"}}</div> -->
      {{#ife section.section 'Weapons'}}
        <div class="item-detail lCol17">{{localize "ALIENRPG.QuantityLabel"}}</div>
        <div class="item-detail lCol15">{{localize "ALIENRPG.Range"}}</div>
        <div class="item-detail lCol13">{{localize "ALIENRPG.Pwr"}}</div>
        <div class="item-detail lCol10">{{localize "ALIENRPG.Dam"}}</div>
        <div class="item-detail item-weight lCol11">{{localize "ALIENRPG.Rds"}}</div>
      {{/ife}}
      {{#ife section.section 'Items'}}
        <span class="item-detail lCol17">{{localize "ALIENRPG.QuantityLabel"}}</span>
        <span class="item-detail lCol13">{{localize "ALIENRPG.Pwr"}}</span>
        <span class="item-detail item-weight lCol11">{{localize "ALIENRPG.Food"}}</span>
        <span class="item-detail item-weight lCol10">{{localize "ALIENRPG.Water"}}</span>
      {{/ife}}
      {{#ife section.section 'Armor'}}
        <div class="item-detail lCol10">{{localize "ALIENRPG.Air"}}</div>
        <div class="item-detail lCol11">{{localize "ALIENRPG.Armor"}}</div>
      {{/ife}}

      <div class="item-detail item-weight lCol3">{{localize "ALIENRPG.AbbreviationKg"}}</div>
    </li>
    {{#each section.items as |item iid|}}
      {{#ife item.system.header.active false}}
        <li class="item grid-items" data-item-id="{{item._id}}">
          <div class="item-image lCol5 activate" data-item="{{name}}"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
          <span class="item-detail  lCol6" data-item="{{item.name}}" data-mod="{{system.skills.rangedCbt.mod}}">{{item.name~}}</span>

          {{#ife item.type 'weapon'}}
            {{#ife item.system.header.type.value '1'}}
              <input type="text" class="item-label maxboxsize lCol18 inline-edit" data-mod="system.attributes.quantity.value" name="item.system.attributes.quantity.value" value="{{item.system.attributes.quantity.value}}" data-dtype="String" />

              <span class="item-detail lCol16" data-item="{{system.attributes.range.value}}">{{gRng system.attributes.range.value}}</span>
              <span class="item-detail pwr-btn Power2 lCol14" data-spbutt="Power" data-id="{{item._id}}" data-item="{{system.attributes.power.value}}">{{system.attributes.power.value}}</span>
              <input type="text" class="item-detail maxboxsize lCol12 inline-edit" data-mod="system.attributes.rounds.value" name="item.system.attributes.rounds.value" value="{{item.system.attributes.rounds.value}}" data-dtype="String" />
              <span class="item-detail lCol9" data-item="{{system.attributes.damage.value}}">{{system.attributes.damage.value}}</span>
            {{/ife}}

            {{#ife item.system.header.type.value '2'}}
              <input type="text" class="item-label maxboxsize lCol18 inline-edit" data-mod="system.attributes.quantity.value" name="item.system.attributes.quantity.value" value="{{item.system.attributes.quantity.value}}" data-dtype="String" />

              <span class="item-detail lCol16" data-item="{{system.attributes.range.value}}">{{gRng system.attributes.range.value}}</span>
              <span class="item-detail pwr-btn Power2 lCol14" data-spbutt="Power" data-id="{{item._id}}" data-item="{{system.attributes.power.value}}">{{system.attributes.power.value}}</span>
              <span class="item-detail lCol9" data-item="{{system.attributes.damage.value}}">{{system.attributes.damage.value}}</span>
            {{/ife}}
          {{/ife}}


          {{#ife item.type 'item'}}
            {{#ife system.header.type.value '1'}}
              <input type="text" class="item-label maxboxsize lCol18 inline-edit" data-mod="system.attributes.quantity.value" name="item.system.attributes.quantity.value" value="{{item.system.attributes.quantity.value}}" data-dtype="String" />
            {{/ife}}
            {{#ife system.header.type.value '2'}}
              <input type="text" class="item-label maxboxsize lCol18 inline-edit" data-mod="system.attributes.quantity.value" name="item.system.attributes.quantity.value" value="{{item.system.attributes.quantity.value}}" data-dtype="String" />
            {{/ife}}

            {{#ife item.system.header.type.value '3'}}
              <span class="item-detail  lCol14" data-item="{{system.attributes.power.value}}">{{system.attributes.power.value}}</span>
            {{/ife}}

            {{#ife item.system.header.type.value '4'}}
              <span class="item-detail lCol14" data-item="{{item.system.attributes.power.value}}">{{item.system.attributes.power.value}}</span>
              <span class="item-detail lCol9" data-item="{{system.attributes.damage.value}}">{{system.attributes.damage.value}}</span>
            {{/ife}}

            {{#ife system.header.type.value '6'}}
              <input type="text" class="item-label maxboxsize lCol18 inline-edit" data-mod="system.attributes.quantity.value" name="item.system.attributes.quantity.value" value="{{item.system.attributes.quantity.value}}" data-dtype="String" />
            {{/ife}}


            {{#ife item.system.header.type.value '7'}}
              <input type="text" class="item-label maxboxsize lCol12 inline-edit" data-mod="system.attributes.food.value" name="item.system.attributes.food.value" value="{{item.system.attributes.food.value}}" data-dtype="String" />
              <input type="text" class="item-label maxboxsize lCol9 inline-edit" data-mod="system.attributes.water.value" name="item.system.attributes.water.value" value="{{item.system.attributes.water.value}}" data-dtype="String" />
            {{/ife}}

            {{#ife item.system.header.type.value '8'}}
              <span class="item-detail lCol14" data-item="{{item.system.attributes.power.value}}">{{item.system.attributes.power.value}}</span>
            {{/ife}}

            {{#ife item.system.header.type.value '10'}}
              <span class="item-detail lCol14" data-item="{{item.system.attributes.power.value}}">{{item.system.attributes.power.value}}</span>
              <input type="text" class="item-label maxboxsize lCol12 inline-edit" data-mod="system.attributes.food.value" name="item.system.attributes.food.value" value="{{item.system.attributes.food.value}}" data-dtype="String" />
              <input type="text" class="item-label maxboxsize lCol9 inline-edit" data-mod="system.attributes.water.value" name="item.system.attributes.water.value" value="{{item.system.attributes.water.value}}" data-dtype="String" />
            {{/ife}}

            {{#ife system.header.type.value '11'}}
              <input type="text" class="item-label maxboxsize lCol18 inline-edit" data-mod="system.attributes.quantity.value" name="item.system.attributes.quantity.value" value="{{item.system.attributes.quantity.value}}" data-dtype="String" />
            {{/ife}}
          {{/ife}}


          {{#ife item.type 'armor'}}
            <span class="item-detail lCol12" data-item="{{system.attributes.armorrating.value}}">{{system.attributes.armorrating.value}}</span>
            <input type="text" class="item-label maxboxsize lCol9 inline-edit" data-mod="system.attributes.airsupply.value" name="item.system.attributes.airsupply.value" value="{{item.system.attributes.airsupply.value}}" data-dtype="String" />
          {{/ife}}

          <div class="item-detail lCol7" style="font-size: smaller;">{{ item.totalWeight }} {{localize "ALIENRPG.AbbreviationKg"}}</div>
          <div class="item-controls lCol8">
            <a class="item-control item-edit" data-item-id="{{item._id}}" title="{{localize 'ALIENRPG.EditItem'}}"><i class="fas fa-edit"></i></a>
          </div>
        </li>

        </li>
      {{/ife}}

    {{/each}}
  {{/each}}

  <br><br>
  <!-- Display Owned -->
  <h2 class="">{{localize "ALIENRPG.fLocker"}}</h2>
  {{#each sections as |section sid|}}
    <li class=" grid-items item-header">
      <div class="item-name lCol1">{{section.label}}</div>
      <div class="item-name lCol2">{{localize "ALIENRPG.Name"}}</div>
      <!-- <div class="item-detail item-weight lCol10">{{localize "ALIENRPG.Damage"}}</div> -->
      {{#ife section.section 'Weapons'}}
        <div class="item-detail lCol17">{{localize "ALIENRPG.QuantityLabel"}}</div>
        <div class="item-detail lCol15">{{localize "ALIENRPG.Range"}}</div>
        <div class="item-detail lCol13">{{localize "ALIENRPG.Pwr"}}</div>
        <div class="item-detail lCol10">{{localize "ALIENRPG.Dam"}}</div>
        <div class="item-detail item-weight lCol11">{{localize "ALIENRPG.Rds"}}</div>
      {{/ife}}
      {{#ife section.section 'Items'}}
        <span class="item-detail lCol17">{{localize "ALIENRPG.QuantityLabel"}}</span>
        <span class="item-detail lCol13">{{localize "ALIENRPG.Pwr"}}</span>
        <span class="item-detail item-weight lCol11">{{localize "ALIENRPG.Food"}}</span>
        <span class="item-detail item-weight lCol10">{{localize "ALIENRPG.Water"}}</span>
      {{/ife}}
      {{#ife section.section 'Armor'}}
        <div class="item-detail lCol10">{{localize "ALIENRPG.Air"}}</div>
        <div class="item-detail lCol11">{{localize "ALIENRPG.Armor"}}</div>
      {{/ife}}

    </li>
    {{#each section.items as |item iid|}}
      {{#ife item.system.header.active 'fLocker'}}
        <li class="item grid-items" data-item-id="{{item._id}}">
          <div class="item-image lCol5 activate" data-item="{{name}}"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
          <span class="item-detail  lCol6" data-item="{{item.name}}" data-mod="{{system.skills.rangedCbt.mod}}">{{item.name~}}</span>

          {{#ife item.type 'weapon'}}
            {{#ife item.system.header.type.value '1'}}
              <input type="text" class="item-label maxboxsize lCol18 inline-edit" data-mod="system.attributes.quantity.value" name="item.system.attributes.quantity.value" value="{{item.system.attributes.quantity.value}}" data-dtype="String" />
              <span class="item-detail lCol16" data-item="{{system.attributes.range.value}}">{{gRng system.attributes.range.value}}</span>
              <span class="item-detail lCol14" data-item="{{system.attributes.power.value}}">{{system.attributes.power.value}}</span>
              <input type="text" class="item-detail maxboxsize lCol12 inline-edit" data-mod="system.attributes.rounds.value" name="item.system.attributes.rounds.value" value="{{item.system.attributes.rounds.value}}" data-dtype="String" />
              <span class="item-detail lCol9" data-item="{{system.attributes.damage.value}}">{{system.attributes.damage.value}}</span>
            {{/ife}}

            {{#ife item.system.header.type.value '2'}}
              <input type="text" class="item-label maxboxsize lCol18 inline-edit" data-mod="system.attributes.quantity.value" name="item.system.attributes.quantity.value" value="{{item.system.attributes.quantity.value}}" data-dtype="String" />
              <span class="item-detail lCol16" data-item="{{system.attributes.range.value}}">{{gRng system.attributes.range.value}}</span>
              <span class="item-detail lCol14" data-item="{{system.attributes.power.value}}">{{system.attributes.power.value}}</span>
              <span class="item-detail lCol9" data-item="{{system.attributes.damage.value}}">{{system.attributes.damage.value}}</span>
            {{/ife}}
          {{/ife}}

          {{#ife item.type 'item'}}
            {{#ife system.header.type.value '1'}}
              <input type="text" class="item-label maxboxsize lCol18 inline-edit" data-mod="system.attributes.quantity.value" name="item.system.attributes.quantity.value" value="{{item.system.attributes.quantity.value}}" data-dtype="String" />
            {{/ife}}
            {{#ife system.header.type.value '2'}}
              <input type="text" class="item-label maxboxsize lCol18 inline-edit" data-mod="system.attributes.quantity.value" name="item.system.attributes.quantity.value" value="{{item.system.attributes.quantity.value}}" data-dtype="String" />
            {{/ife}}

            {{#ife item.system.header.type.value '3'}}
              <span class="item-detail  lCol14" data-item="{{system.attributes.power.value}}">{{system.attributes.power.value}}</span>
            {{/ife}}

            {{#ife item.system.header.type.value '4'}}
              <span class="item-detail lCol14" data-item="{{system.attributes.power.value}}">{{system.attributes.power.value}}</span>
              <span class="item-detail lCol9" data-item="{{system.attributes.damage.value}}">{{system.attributes.damage.value}}</span>
            {{/ife}}

            {{#ife item.system.header.type.value '7'}}
              <input type="text" class="item-label maxboxsize lCol12 inline-edit" data-mod="system.attributes.food.value" name="item.system.attributes.food.value" value="{{item.system.attributes.food.value}}" data-dtype="String" />
              <input type="text" class="item-label maxboxsize lCol9 inline-edit" data-mod="system.attributes.water.value" name="item.system.attributes.water.value" value="{{item.system.attributes.water.value}}" data-dtype="String" />
            {{/ife}}
            {{#ife system.header.type.value '6'}}
              <input type="text" class="item-label maxboxsize lCol18 inline-edit" data-mod="system.attributes.quantity.value" name="item.system.attributes.quantity.value" value="{{item.system.attributes.quantity.value}}" data-dtype="String" />
            {{/ife}}

            {{#ife item.system.header.type.value '10'}}
              <span class="item-detail lCol14" data-item="{{system.attributes.power.value}}">{{system.attributes.power.value}}</span>
              <input type="text" class="item-label maxboxsize lCol12 inline-edit" data-mod="system.attributes.food.value" name="item.system.attributes.food.value" value="{{item.system.attributes.food.value}}" data-dtype="String" />
              <input type="text" class="item-label maxboxsize lCol9 inline-edit" data-mod="system.attributes.water.value" name="item.system.attributes.water.value" value="{{item.system.attributes.water.value}}" data-dtype="String" />
            {{/ife}}

            {{#ife system.header.type.value '11'}}
              <input type="text" class="item-label maxboxsize lCol18 inline-edit" data-mod="system.attributes.quantity.value" name="item.system.attributes.quantity.value" value="{{item.system.attributes.quantity.value}}" data-dtype="String" />
            {{/ife}}
          {{/ife}}


          {{#ife item.type 'armor'}}
            <span class="item-detail lCol12" data-item="{{system.attributes.armorrating.value}}">{{system.attributes.armorrating.value}}</span>
            <input type="text" class="item-label maxboxsize lCol9 inline-edit" data-mod="system.attributes.airsupply.value" name="item.system.attributes.airsupply.value" value="{{item.system.attributes.airsupply.value}}" data-dtype="String" />
          {{/ife}}

          <div class="item-controls lCol8">
            <a class="item-control item-edit" data-item-id="{{item._id}}" title="{{localize 'ALIENRPG.EditItem'}}"><i class="fas fa-edit"></i></a>
          </div>
        </li>

        </li>
      {{/ife}}

    {{/each}}
  {{/each}}


</ol>
<br>
{{!-- Biography Tab --}}
<h1 class="" style="text-align: center;">{{localize 'ALIENRPG.AdHoc'}}</h1>

<div class="biog" data-group="primary" style="height: 180px;" data-tab="description">
  {{editor actor.system.adhocitems target="system.adhocitems" button=true owner=owner editable=true}}
</div>