<h2 class="item talTitle" style="padding-top: 3px;">{{localize "ALIENRPG.MINOR-COMPONENT-DAMAGE"}}
  <label type="button" data-crbut="minor" class="resource-label-header rollMinorCD" title="{{localize 'ALIENRPG.RollCrit'}}"><i class="fas fa-wrench"></i></label>
</h2>
<ol class="items-list s1h26">
  {{#each critMin as |item iid|}}
    <li class="item space-critical-inj" data-item-id="{{item.id}}">
      <a class="item-image ScritI1"><img src="{{item.img}}" width="24" height="24" /></a>
      <a class="item-name ScritI2">{{item.name}}</a>
      <a class="ScritI4 item-control item-edit1" data-item-id="{{item.id}}" title="{{localize 'ALIENRPG.EditItem'}}"><i class="fas fa-edit"></i></a>
    </li>
  {{/each}}
</ol>