<h1>{{localize "ALIENRPG.SpaceCombatPhases"}}</h1>
<form>
  <div class="form-group">
    <h2>{{localize "ALIENRPG.sensorPhase" }}</h2>
    <select class="select-css" id="sensorPhase" name="sensorPhase">
      <option value={{localize "ALIENRPG.targetLock" }}>{{localize "ALIENRPG.targetLock"}}</option>
      <option value={{localize "ALIENRPG.goDark" }}>{{localize "ALIENRPG.goDark"}}</option>
      <option value={{localize "ALIENRPG.powerUpSensors" }}>{{localize "ALIENRPG.powerUpSensors"}}</option>
    </select>
    <button type="button" class="sensorsubmit" style="color: bisque;" data-pmbut="sensorsubmit"><b>Submit</b></button>
  </div>
</form>
<form>
  <div class="form-group">
    <h2>{{localize "ALIENRPG.pilotPhase" }}</h2>
    <select class="select-css" id="pilotPhase" name="pilotPhase">
      <option value={{localize "ALIENRPG.accelerate" }}>{{localize "ALIENRPG.accelerate"}}</option>
      <option value={{localize "ALIENRPG.decelerate" }}>{{localize "ALIENRPG.decelerate"}}</option>
      <option value={{localize "ALIENRPG.maneuver" }}>{{localize "ALIENRPG.maneuver"}}</option>
      <option value={{localize "ALIENRPG.ram" }}>{{localize "ALIENRPG.ram"}}</option>
      <option value={{localize "ALIENRPG.dock" }}>{{localize "ALIENRPG.dock"}}</option>
    </select>
    <button type="button" class="pilotsubmit" style="color: bisque;" data-pmbut="pilotsubmit"><b>Submit</b></button>

  </div>
</form>
<form>
  <div class="form-group">
    <h2>{{localize "ALIENRPG.gunnerPhase" }}</h2>
    <select class="select-css" id="gunnerPhase" name="gunnerPhase">
      <option value={{localize "ALIENRPG.fireWeapon" }}>{{localize "ALIENRPG.fireWeapon"}}</option>
      <option value={{localize "ALIENRPG.launchCounter" }}>{{localize "ALIENRPG.launchCounter"}}</option>
    </select>
    <button type="button" class="gunnersubmit" style="color: bisque;" data-pmbut="gunnersubmit"><b>Submit</b></button>

  </div>
</form>
<form>
  <div class="form-group">
    <h2>{{localize "ALIENRPG.engineerPhase" }}</h2>
    <select class="select-css" id="engineerPhase" name="engineerPhase">
      <option value={{localize "ALIENRPG.emergencyRepairs" }}>{{localize "ALIENRPG.emergencyRepairs"}}</option>
      <option value={{localize "ALIENRPG.powerUpEngine" }}>{{localize "ALIENRPG.powerUpEngine"}}</option>
      <option value={{localize "ALIENRPG.openAirlock" }}>{{localize "ALIENRPG.openAirlock"}}</option>
      <option value={{localize "ALIENRPG.reactorOverload" }}>{{localize "ALIENRPG.reactorOverload"}}</option>
    </select>
    <button type="button" class="engineersubmit" style="color: bisque;" data-pmbut="engineersubmit"><b>Submit</b></button>

  </div>
</form>