<div class="crew" data-tab="general">
	<div class="grid-ship-crew">
		<label class="resource-label gSC1">{{localize 'ALIENRPG.Name'}}</label>
		<label class="resource-label gSC2">{{localize 'ALIENRPG.Position'}}</label>
		<label class="resource-label gSC3">{{localize 'ALIENRPG.Roll'}}</label>
		<label class="resource-label gSC4">{{localize 'ALIENRPG.Panic'}}</label>
	</div>
	<br />
	<div>
		{{#each actor.system.crew.occupants}}
		<div class="occupant {{#if (eq position 'PASSENGER')}} passenger{{/if}}" data-crew-id="{{ id }}">
			<div class="grid-ship-crew">
				{{!-- Name --}}
				<div class="gSC6">{{ actor.name }}</div>

				{{!-- Position --}}
				<div class="gSC7">
					<select class="crew-position select-css" style="width: 175px">
						{{#ife ...actor.type 'spacecraft'}} {{selectOptions @root.config.spacecraft.crewPositionFlagsLocalized selected=position localize=true}} {{else}}
						{{selectOptions @root.config.vehicle.crewPositionFlagsLocalized selected=position localize=true}} {{/ife}}
					</select>
				</div>

				{{#ife position 'PILOT'}}
				<h3
					for="actor.system.skills.piloting.value"
					class="resource-label rollable Attr1 gSC8"
					data-actorid="{{ actor.id }}"
					data-roll="{{addstats actor.system.skills.piloting.mod @root.actor.system.attributes.thrusters.value}}"
					data-label="{{@root.actor.name}} - {{localize 'ALIENRPG.Skillpiloting'}}"
				>
					{{localize 'ALIENRPG.Skillpiloting'}}
				</h3>
				{{/ife}} {{#ife position 'SENSOROP'}}
				<h3
					for="actor.system.skills.comtech.value"
					class="resource-label rollable Attr1 gSC8"
					data-spbutt="comtech"
					data-actorid="{{ actor.id }}"
					data-roll="{{ actor.system.skills.comtech.mod }}"
					data-label="{{@root.actor.name}} - {{localize 'ALIENRPG.Skillcomtech'}}"
				>
					{{localize 'ALIENRPG.Skillcomtech'}}
				</h3>
				{{/ife}} {{#ife position 'ENGINEER'}}
				<h3
					for="actor.system.skills.heavyMach.value"
					class="resource-label rollable Attr1 gSC8"
					data-spbutt="heavyMach"
					data-actorid="{{ actor.id }}"
					data-roll="{{ actor.system.skills.heavyMach.mod }}"
					data-label="{{@root.actor.name}} - {{localize 'ALIENRPG.SkillheavyMach'}}"
				>
					{{localize 'ALIENRPG.SkillheavyMachAbb'}}
				</h3>
				{{/ife}}

				<label
					type="button"
					class="crewPanic gSC9"
					data-shippanicbut="true"
					data-crewpanic="{{ actor.id }}"
					data-panicroll="true"
					title="{{localize 'ALIENRPG.RollPanic'}}"
					><i class="far fa-heart"></i
				></label>

				{{!-- Buttons --}}
				<div class="gSC10">
					{{#unless actor.isCrewDeleted}}
					<a class="button crew-edit" title="{{localize 'ALIENRPG.EditItem'}}"> {{{@root.config.Icons.buttons.edit}}} </a>
					{{/unless}}
					<a class="button crew-remove" title="{{localize 'ALIENRPG.DeleteItem'}}"> {{{@root.config.Icons.buttons.remove}}} </a>
				</div>
			</div>
		</div>
		{{else}}
		<div class="crew-empty">{{localize 'ALIENRPG.EmptyCrew'}}</div>
		{{/each}}
	</div>
</div>
