<ol class="items-list">
  <!-- Display Active Items -->
  <li class="grid-items item-header">
    <div class="item-name lCol1">{{section.label}}</div>
    <div class="item-name lCol2">{{localize "ALIENRPG.Name"}}</div>
    <div class="item-detail lCol15">{{localize "ALIENRPG.Bonus"}}</div>
    <div class="item-detail lCol13">{{localize "ALIENRPG.Dam"}}</div>
    <div class="item-detail lCol11">{{localize "ALIENRPG.Range"}}</div>
  </li>

  {{#each weapons as |item iid|}}
  <li class="item grid-items" data-item-id="{{item._id}}">
    <div class="item-image lCol5"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
    <span class="item-detail lCol6" data-item="{{item.name}}">{{item.name~}}</span>
    <span class="item-detail lCol16" data-item="{{data.attributes.bonus.value}}">{{data.attributes.bonus.value}}</span>
    <span class="item-detail lCol14" data-item="{{data.attributes.damage.value}}">{{data.attributes.damage.value}}</span>
    <span class="item-detail lCol12" data-item="{{data.attributes.range.value}}">{{gRng data.attributes.range.value}}</span>

    <div class="item-controls lCol9">
      <a class="item-control item-edit" data-item-id="{{item._id}}" title="{{localize 'ALIENRPG.EditItem'}}"><i class="fas fa-edit"></i></a>
      <!-- <a class="item-control item-delete" title="{{localize "ALIENRPG.DeleteItem"}}"><i class="fas fa-trash"></i></a> -->
    </div>
  </li>
  {{/each}}
</ol>
