.flex-center {
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0;
}

.flex-between {
	justify-content: space-between;
}
// .alienflex {
//   flex: auto;
// }
.ALIENRPG .flexcol {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}
// .ALIENRPG .flexcol > * {
//   flex: 1;
// }
.ALIENRPG .flexcol .flex1 {
	flex: 1;
}
.ALIENRPG .flexcol .flex2 {
	flex: 2;
}
.ALIENRPG .flexcol .flex3 {
	flex: 3;
}
.ALIENRPG .ALIENRPG .flexcol .flex4 {
	flex: 4;
}
.ALIENRPG .flexrow {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.ALIENRPG .flexrow > * {
	flex: 1;
}
.ALIENRPG .flexrow .flex1 {
	flex: 1;
}
.ALIENRPG .flexrow .flex2 {
	flex: 2;
}
.ALIENRPG .flexrow .flex3 {
	flex: 3;
}
.ALIENRPG .flexrow .flex4 {
	flex: 4;
}
