.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  // grid-template-columns: repeat(2, minmax(50fr, 1fr));
  // gap: 5px;
  // margin: 5px 0;
  padding: 0;
  align-items: center;
  // justify-items: center;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  border-color: $c-green;
  // border-style: solid;
  justify-items: center;
  margin: 0;
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  border-color: $c-green;
  border-style: double;
  padding: 4px;
}

// .grid-5col {
//   grid-column: span 5 / span 5;
//   grid-template-columns: repeat(5, minmax(0, 1fr));
// }

// .grid-6col {
//   grid-column: span 5 / span 5;
//   grid-template-columns: repeat(5, minmax(0, 1fr));
// }

// .grid-7col {
//   grid-column: span 7 / span 7;
//   grid-template-columns: repeat(7, minmax(0, 1fr));
// }

// .grid-8col {
//   grid-column: span 8 / span 8;
//   grid-template-columns: repeat(8, minmax(0, 1fr));
// }

// .grid-9col {
//   grid-column: span 9 / span 9;
//   grid-template-columns: repeat(9, minmax(0, 1fr));
// }

// .grid-10col {
//   grid-column: span 10 / span 10;
//   grid-template-columns: repeat(10, minmax(0, 1fr));
// }

// .grid-11col {
//   grid-column: span 11 / span 11;
//   grid-template-columns: repeat(11, minmax(0, 1fr));
// }

// .grid-12col {
//   grid-column: span 12 / span 12;
//   grid-template-columns: repeat(12, minmax(0, 1fr));
// }

// .grid-2row {
//   grid-column: span 1 / span 3;
//   grid-template-columns: repeat(1, minmax(0, 1fr));
//   // justify-self: center;
//   justify-items: center;
// }

.grid-genPage {
  display: grid;
  // border: 2px solid white;
  grid-template-areas:
    'Item1 Item2 Item2'
    'Item1 Item4 Item4'
    'Item8 Item5 Item5'
    'Item8 Item3 Item3'
    'Item9 Item6 Item6'
    'Item9 Item7 Item7'
    'Item9 Item10 Item10'
    'Item11 Item10 Item10';

  grid-template-columns: 1fr 1fr 1fr;
}

.Item1 {
  grid-area: Item1;
  border: 1px solid $c-green;
  padding: 5px;
}
.Item2 {
  grid-area: Item2;
  border: 1px solid $c-green;
}
.Item3 {
  grid-area: Item3;
  border: 1px solid $c-green;
  padding-left: 5px;
  padding-right: 5px;
}
.Item4 {
  grid-area: Item4;
  border: 1px solid $c-green;
  padding-left: 5px;
  padding-right: 5px;
}
.Item5 {
  grid-area: Item5;
  border: 1px solid $c-green;
}
.Item6 {
  grid-area: Item6;
  border: 1px solid $c-green;
  justify-items: center;
}
.Item7 {
  grid-area: Item7;
  border: 1px solid $c-green;
}
.Item8 {
  grid-area: Item8;
  border: 1px solid $c-green;
  padding: 5px;
}
.Item9 {
  grid-area: Item9;
  border: 1px solid $c-green;
}
.Item10 {
  grid-area: Item10;
  border: 1px solid $c-green;
  padding-left: 5px;
  padding-right: 5px;
}
.Item11 {
  grid-area: Item11;
  border: 1px solid $c-green;
  padding: 4px;
  padding-left: 24px;
}

.grid-container {
  display: grid;
  // gap: 5px;
  margin: 0;
  padding: 0;
  // align-items: center;
  // justify-items: first baseline;
  // border: 2px solid $c-green;
  grid-template-areas: 'Col1 Col2 ';
  grid-template-rows: 1fr;
  grid-template-columns: 240px 1fr;
}
.Col1 {
  grid-area: Col1;
  // justify-items: left;
  // border: 2px solid white;
}
.Col2 {
  grid-area: Col2;
  // justify-items: right;
  // border: 2px solid white;
}

.grid-attr {
  display: grid;
  // gap: 5px;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  align-items: center;
  border: 1px solid $c-green;
  grid-template-areas: 'Attr1 Attr2 ';
  grid-template-columns: 190px 50px;
}

.Attr1 {
  grid-area: Attr1;
  // justify-items: left;
  // border: 2px solid white;
}
.Attr2 {
  grid-area: Attr2;
  // justify-items: right;
  // border: 2px solid white;
}

.Attr3 {
  grid-area: Attr3;
  // justify-items: left;
  // border: 2px solid white;
}
.Attr4 {
  grid-area: Attr4;
  // justify-items: right;
  // border: 2px solid white;
}

.grid-Consumables {
  display: grid;
  // border: 2px solid white;
  grid-template-areas:
    'Heading Heading '
    'Air1 Air2'
    'Food1 Food2'
    'Power1 Power2'
    'Water1 Water2';

  grid-template-columns: 1fr 1fr;
}

.Heading {
  grid-area: Heading;
  // border: 1px solid white;
  justify-self: left;
}
.Air1 {
  grid-area: Air1;
  // border: 1px solid white;
  justify-content: left;
}
.Air2 {
  grid-area: Air2;
  // border: 1px solid white;
}
.Food1 {
  grid-area: Food1;
  // border: 1px solid white;
  justify-self: left;
}
.Food2 {
  grid-area: Food2;
  // border: 1px solid white;
}
.Power1 {
  grid-area: Power1;
  // border: 1px solid white;
  justify-self: left;
}
.Power2 {
  grid-area: Power2;
  // border: 1px solid white;
}
.Water1 {
  grid-area: Water1;
  // border: 1px solid white;
  justify-self: left;
}
.Water2 {
  grid-area: Water2;
  // border: 1px solid white;
}

.grid-vehicle-header {
  display: grid;
  border: 2px solid $c-green;
  grid-template-areas: 'vChar vChar';
  grid-template-columns: auto;
}

.grid-vehicle {
  display: grid;
  border: 2px solid $c-green;
  grid-template-areas:
    'vItem1 vItem2 vItem3 vItem4'
    'vItem5 vItem6 vItem7 vItem8';

  grid-template-columns: auto;
}

.vChar {
  grid-area: vChar;
}
.vItem1 {
  grid-area: vItem1;
}
.vItem2 {
  grid-area: vItem2;
}
.vItem3 {
  grid-area: vItem3;
}
.vItem4 {
  grid-area: vItem4;
}
.vItem5 {
  grid-area: vItem5;
}
.vItem6 {
  grid-area: vItem6;
}
.vItem7 {
  grid-area: vItem7;
}
.vItem8 {
  grid-area: vItem8;
}

.grid-weapon {
  display: grid;
  border: 2px solid $c-green;
  grid-template-areas:
    'wItem1 wItem2 wItem3 wItem4'
    'wItem5 wItem6 wItem7 wItem7';

  grid-template-columns: auto;
  align-items: center;
  padding-bottom: 2px;
}

.wItem1 {
  grid-area: wItem1;
}
.wItem2 {
  grid-area: wItem2;
}
.wItem3 {
  grid-area: wItem3;
}
.wItem4 {
  grid-area: wItem4;
}
.wItem5 {
  grid-area: wItem5;
}
.wItem6 {
  grid-area: wItem6;
}
.wItem7 {
  grid-area: wItem7;
}

.grid-items {
  display: grid;
  // border: 2px solid $c-green;
  grid-template-areas:
    'lCol1 lCol2 lCol2 lCol3 lCol4'
    'lCol5 lCol6 lCol6 lCol7 lCol8';
  padding-bottom: 2px;
  grid-template-columns: 0.25fr 1fr 1.5fr 0.4fr 0.5fr;
  align-items: center;
}

.lCol1 {
  grid-area: lCol1;
  justify-self: left;
}
.lCol2 {
  grid-area: lCol2;
  justify-self: center;
}
.lCol3 {
  grid-area: lCol3;
  justify-self: right;
}
.lCol4 {
  grid-area: lCol4;
  justify-self: right;
}
.lCol5 {
  grid-area: lCol5;
  justify-self: left;
}
.lCol6 {
  grid-area: lCol6;
  justify-self: left;
}
.lCol7 {
  grid-area: lCol7;
  justify-self: right;
}
.lCol8 {
  grid-area: lCol8;
  justify-self: right;
}
.grid-talents {
  display: grid;
  grid-template-areas:
    'talTitle talTitle'
    'tal1 tal2'
    'tal3 tal4';

  padding: 3px;
  grid-template-columns: 75% 25%;
  align-items: center;
}

.tal1 {
  grid-area: tal1;
  justify-self: center;
  padding-left: 8px;
  // background-color: $c-black;
}
.tal2 {
  grid-area: tal2;
  justify-self: right;
  padding-right: 8px;
}
.tal3 {
  grid-area: tal3;
  align-self: center;
}
.tal4 {
  grid-area: tal4;
  justify-self: right;
  padding-right: 8px;
  align-self: center;

  // padding-top: 2px;
}
.talTitle {
  grid-area: talTitle;
  background-color: #221f1f;
}

.grid-two {
  display: grid;
  grid-template-areas: 'box1 box2';
  padding: 3px;
  grid-template-columns: 25% 75%;
  align-items: center;
}

.box1 {
  grid-area: box1;
  justify-self: center;
  padding-left: 8px;
  // background-color: $c-black;
}
.box2 {
  grid-area: box2;
  justify-self: right;
  padding-right: 8px;
}
.grid-2 {
  display: grid;
  grid-template-areas: 'box11 box21';
  // padding: 3px;
  grid-template-columns: 195px 33px;
  align-items: center;
  margin: 0;
  padding: 0;
  // padding-left: 2px;
}

.box11 {
  grid-area: box11;
  justify-self: center;
  // padding-left: 8px;
  // background-color: $c-black;
}
.box21 {
  grid-area: box21;
  justify-self: right;
  padding-right: 8px;
}

.grid-rTables {
  display: grid;
  grid-template-areas: 'rTable1 rTable2';
  // padding: 3px;
  grid-template-columns: 1fr 0.5fr;
  align-items: center;
  margin: 0;
  padding: 0;
}

.rTable1 {
  grid-area: rTable1;
  justify-self: center;
}
.rTable2 {
  grid-area: rTable2;
  justify-self: center;
  padding-right: 8px;
}

.grid-creature {
  display: grid;
  border: 2px solid $c-green;
  grid-template-areas:
    // 'vChar1 vChar1  '
    'vCre1 vCre2 '
    'vCre3 vCre4 '
    'vCre5 vCre6 '
    'vCre7 vCre8';

  // grid-template-columns: 1fr;
}

.vCre1 {
  grid-area: vCre1;
}
.vCre2 {
  grid-area: vCre2;
}
.vCre3 {
  grid-area: vCre3;
}
.vCre4 {
  grid-area: vCre4;
}
.vCre5 {
  grid-area: vCre5;
}
.vCre6 {
  grid-area: vCre6;
}
.vCre7 {
  grid-area: vCre7;
}
.vCre8 {
  grid-area: vCre8;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  border: 1px solid #999;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}
