.grid {
  display: grid;
  grid-column: span 2 / span 2;
  // grid-template-columns: repeat(2, minmax(50fr, 1fr));
  // gap: 5px;
  // margin: 5px 0;
  padding: 0;
  align-items: center;
  // justify-items: center;
}
.grid-2col {
  display: grid;
  grid-column: span 2;
  grid-template-columns: 1fr 1fr;
  // gap: 5px;
  // margin: 5px 0;
  padding: 0;
  align-items: center;
  // justify-items: center;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  border-color: var(--aliengreen);
  // border-style: solid;
  justify-items: center;
  margin: 0;
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  border-color: var(--aliengreen);
  border-style: double;
  padding: 4px;
}

.grid-genPage {
  display: grid;
  // border: 2px solid white;
  grid-template-areas:
    'Item1 Item2 Item2'
    'Item1 Item4 Item4'
    'Item8 Item5 Item5'
    'Item8 Item3 Item3'
    'Item9 Item6 Item6'
    'Item9 Item7 Item7'
    'Item11 Item10 Item10'
    'Item11 Item10 Item10';

  grid-template-columns: 1fr 1fr 1fr;
}

.Item1 {
  grid-area: Item1;
  border: 1px solid var(--aliengreen);
  padding: 5px;
  text-align: center;
}
.Item2 {
  grid-area: Item2;
  border: 1px solid var(--aliengreen);
}
.Item3 {
  grid-area: Item3;
  border: 1px solid var(--aliengreen);
  padding-left: 5px;
  padding-right: 5px;
}
.Item4 {
  grid-area: Item4;
  border: 1px solid var(--aliengreen);
  padding-left: 5px;
  padding-right: 5px;
}
.Item5 {
  grid-area: Item5;
  border: 1px solid var(--aliengreen);
  padding-left: 5px;
  padding-right: 5px;
}
.Item6 {
  grid-area: Item6;
  border: 1px solid var(--aliengreen);
  // justify-items: center;
  padding-left: 5px;
  padding-right: 5px;
}
.Item7 {
  grid-area: Item7;
  border: 1px solid var(--aliengreen);
  padding-left: 5px;
  padding-right: 5px;
}
.Item8 {
  grid-area: Item8;
  border: 1px solid var(--aliengreen);
  padding: 5px;
}
.Item9 {
  grid-area: Item9;
  border: 1px solid var(--aliengreen);
}
.Item10 {
  grid-area: Item10;
  border: 1px solid var(--aliengreen);
  padding-left: 5px;
  padding-right: 5px;
}
.Item11 {
  grid-area: Item11;
  border: 1px solid var(--aliengreen);
  padding: 4px;
  padding-left: 24px;
  align-content: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  // gap: 5px;
  margin: 0;
  padding: 0;
  // align-items: center;
  // justify-items: first baseline;
  // border: 2px solid var(--aliengreen);
  grid-template-areas: 'Col1 Col2 ' 'Col3 Col3';
  grid-template-rows: 1fr;
  grid-template-columns: 370px 1fr;
}
.Col1 {
  grid-area: Col1;
  // justify-items: left;
  // border: 2px solid white;
  align-self: center;
}
.Col2 {
  grid-area: Col2;
  // justify-items: right;
  // border: 2px solid white;
}

.Col3 {
  grid-area: Col3;
  // justify-items: right;
  // border: 2px solid white;
}

.grid-attr {
  display: grid;
  // gap: 5px;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  align-items: center;
  border: 1px solid var(--aliengreen);
  grid-template-areas: 'Attr1 Attr2 Attr3';
  grid-template-columns: 300px 35px 30px;
}

.Attr1 {
  grid-area: Attr1;
  // justify-items: left;
  // border: 2px solid white;
}
.Attr2 {
  grid-area: Attr2;
  // justify-items: right;
  // border: 2px solid white;
}

.Attr3 {
  grid-area: Attr3;
  width: 30px;
  height: 20px;
  // justify-items: left;
}
.Attr4 {
  grid-area: Attr4;
  // justify-items: right;
  // border: 2px solid white;
}

.grid-Consumables {
  display: grid;
  // border: 2px solid white;
  grid-template-areas:
    'Heading Heading '
    'Air1 Air2'
    'Food1 Food2'
    'Power1 Power2'
    'Water1 Water2';

  grid-template-columns: 1fr 1fr;
}

.Heading {
  grid-area: Heading;
  // border: 1px solid white;
  justify-self: left;
}
.Air1 {
  grid-area: Air1;
  // border: 1px solid white;
  justify-content: left;
}
.Air2 {
  grid-area: Air2;
  // border: 1px solid white;
}
.Food1 {
  grid-area: Food1;
  // border: 1px solid white;
  justify-self: left;
}
.Food2 {
  grid-area: Food2;
  // border: 1px solid white;
}
.Power1 {
  grid-area: Power1;
  // border: 1px solid white;
  justify-self: left;
}
.Power2 {
  grid-area: Power2;
  // border: 1px solid white;
}
.Water1 {
  grid-area: Water1;
  // border: 1px solid white;
  justify-self: left;
}
.Water2 {
  grid-area: Water2;
  // border: 1px solid white;
}

.grid-vehicle-header {
  display: grid;
  border: 2px solid var(--aliengreen);
  grid-template-areas: 'vChar vChar';
  grid-template-columns: auto;
}

.grid-vehicle {
  display: grid;
  border: 2px solid var(--aliengreen);
  grid-template-areas:
    'vItem1 vItem2 vItem3 vItem4'
    'vItem5 vItem6 vItem7 vItem8';

  grid-template-columns: auto;
}

.vChar {
  grid-area: vChar;
}
.vItem1 {
  grid-area: vItem1;
}
.vItem2 {
  grid-area: vItem2;
}
.vItem3 {
  grid-area: vItem3;
}
.vItem4 {
  grid-area: vItem4;
}
.vItem5 {
  grid-area: vItem5;
}
.vItem6 {
  grid-area: vItem6;
}
.vItem7 {
  grid-area: vItem7;
}
.vItem8 {
  grid-area: vItem8;
}

.grid-weapon {
  display: grid;
  border: 2px solid var(--aliengreen);
  grid-template-areas:
    'wItem1 wItem2 wItem3 wItem4'
    'wItem5 wItem6 wItem7 wItem7';

  grid-template-columns: auto;
  align-items: center;
  padding-bottom: 2px;
}

.wItem1 {
  grid-area: wItem1;
}
.wItem2 {
  grid-area: wItem2;
}
.wItem3 {
  grid-area: wItem3;
}
.wItem4 {
  grid-area: wItem4;
}
.wItem5 {
  grid-area: wItem5;
}
.wItem6 {
  grid-area: wItem6;
}
.wItem7 {
  grid-area: wItem7;
}

.grid-weapon-body {
  display: grid;
  // border: 2px solid var(--aliengreen);
  grid-template-areas:
    'wCol1 wCol2 wCol3 wCol4 wCol5 wCol6'
    'wCol7 wCol8 wCol9 wCol10 wCol11 wCol12';
  padding-bottom: 2px;
  //                      l1     l2  l3     l4    l5    l6
  grid-template-columns: 1fr 1.2fr 0.81fr 0.5fr 0.5fr 1fr;
  // grid-template-columns: 2em 25em 5em 5em 4em 2em;
  align-items: center;
}

.wCol1 {
  grid-area: wCol1;
  justify-self: left;
}
.wCol2 {
  grid-area: wCol2;
  justify-self: left;
}
.wCol3 {
  grid-area: wCol3;
  justify-self: left;
}
.wCol4 {
  grid-area: wCol4;
  justify-self: center;
}
.wCol5 {
  grid-area: wCol5;
  justify-self: left;
}
.wCol6 {
  grid-area: wCol6;
  justify-self: center;
}
.wCol7 {
  grid-area: wCol7;
  justify-self: left;
}
.wCol8 {
  grid-area: wCol8;
  justify-self: left;
}
.wCol9 {
  grid-area: wCol9;
  justify-self: left;
}
.wCol10 {
  grid-area: wCol10;
  justify-self: center;
}
.wCol11 {
  grid-area: wCol11;
  justify-self: left;
}
.wCol12 {
  grid-area: wCol12;
  justify-self: center;
}

.grid-items {
  display: grid;
  // border: 2px solid var(--aliengreen);
  grid-template-areas:
    'lCol1 lCol2 lCol11 lCol10 lCol3 lCol4'
    'lCol5 lCol6 lCol12 lCol9 lCol7 lCol8';
  padding-bottom: 2px;
  //                      l1     l2  l3     l4    l5    l6
  grid-template-columns: 2em 30em 5em 5em 4em 2em;
  // grid-template-columns: 25px 410px 60px 60px 60px 20px;
  align-items: center;
}

.lCol1 {
  grid-area: lCol1;
  justify-self: left;
}
.lCol2 {
  grid-area: lCol2;
  justify-self: center;
}
.lCol3 {
  grid-area: lCol3;
  justify-self: center;
}
.lCol4 {
  grid-area: lCol4;
  justify-self: right;
}
.lCol5 {
  grid-area: lCol5;
  justify-self: left;
}
.lCol6 {
  grid-area: lCol6;
  justify-self: left;
}
.lCol7 {
  grid-area: lCol7;
  justify-self: center;
}
.lCol8 {
  grid-area: lCol8;
  justify-self: right;
}
.lCol9 {
  grid-area: lCol9;
  justify-self: center;
}
.lCol10 {
  grid-area: lCol10;
  justify-self: center;
}
.lCol11 {
  grid-area: lCol11;
  justify-self: center;
}
.lCol12 {
  grid-area: lCol12;
  justify-self: center;
}

.grid-talents {
  display: grid;
  grid-template-areas:
    'talTitle talTitle'
    'tal1 tal2'
    'tal3 tal4';

  padding: 3px;
  grid-template-columns: 75% 25%;
  align-items: center;
}

.tal1 {
  grid-area: tal1;
  justify-self: center;
  padding-left: 8px;
  // background-color: $c-black;
}
.tal2 {
  grid-area: tal2;
  justify-self: right;
  padding-right: 8px;
}

.tal3 {
  grid-area: tal3;
  align-self: center;
}
.tal4 {
  grid-area: tal4;
  justify-self: right;
  padding-right: 8px;
  align-self: center;

  // padding-top: 2px;
}
.talTitle {
  grid-area: talTitle;
  background-color: #221f1f;
}

.grid-two {
  display: grid;
  grid-template-areas: 'box1 box2';
  padding: 3px;
  grid-template-columns: 25% 75%;
  align-items: center;
}

.box1 {
  grid-area: box1;
  justify-self: center;
  padding-left: 8px;
  // background-color: $c-black;
}
.box2 {
  grid-area: box2;
  justify-self: right;
  padding-right: 8px;
}
.grid-2 {
  display: grid;
  grid-template-areas: 'box11 box21 box23 box22';
  // padding: 3px;
  grid-template-columns: 150px 33px 15px 33px;
  align-items: center;
  margin: 1px;
  padding: 0;
  // padding-left: 2px;
}

.box11 {
  grid-area: box11;
  justify-self: center;
  // padding-left: 8px;
  // background-color: $c-black;
}
.box21 {
  grid-area: box21;
  justify-self: right;
  padding-right: 8px;
}
.box22 {
  grid-area: box22;
  justify-self: right;
  padding-right: 8px;
}
.box23 {
  grid-area: box23;
  justify-self: center;
  // padding-right: 8px;
}

.grid-rTables {
  display: grid;
  grid-template-areas: 'rTable1 rTable2';
  // padding: 3px;
  grid-template-columns: 1fr 0.5fr;
  align-items: center;
  margin: 0;
  padding: 0;
}

.rTable1 {
  grid-area: rTable1;
  justify-self: center;
}
.rTable2 {
  grid-area: rTable2;
  justify-self: center;
  padding-right: 8px;
}

.grid-creature {
  display: grid;
  border: 2px solid var(--aliengreen);
  grid-template-areas:
    // 'vChar1 vChar1  '

    'vCre1 vCre2 '
    'vCre3 vCre4 '
    'vCre5 vCre6 '
    'vCre7 vCre8';

  // grid-template-columns: 1fr;
}

.vCre1 {
  grid-area: vCre1;
}
.vCre2 {
  grid-area: vCre2;
}
.vCre3 {
  grid-area: vCre3;
}
.vCre4 {
  grid-area: vCre4;
}
.vCre5 {
  grid-area: vCre5;
}
.vCre6 {
  grid-area: vCre6;
}
.vCre7 {
  grid-area: vCre7;
}
.vCre8 {
  grid-area: vCre8;
}
.grid-planet-header {
  display: grid;
  border: 2px solid var(--aliengreen);
  grid-template-areas:
    'hplan1 hplan2 '
    'hplan3 hplan4'
    'hplan5 hplan6 '
    'hplan7 hplan8';

  grid-template-columns: auto;
  align-items: center;
  padding-bottom: 2px;
}

.hplan1 {
  grid-area: hplan1;
}
.hplan2 {
  grid-area: hplan2;
}
.hplan3 {
  grid-area: hplan3;
}
.hplan4 {
  grid-area: hplan4;
}
.hplan5 {
  grid-area: hplan5;
}
.hplan6 {
  grid-area: hplan6;
}
.hplan7 {
  grid-area: hplan7;
}
.hplan8 {
  grid-area: hplan8;
}

.grid-planet {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-areas:
    'plan1 plan1 plan1 plan1'
    'plan2 plan2 plan3 plan3 '
    // 'plan3 plan3 plan3 plan3 '
    'plan4 plan4 plan4 plan4 ';
  grid-template-columns: 220px 1fr;
}
.plan1 {
  grid-area: plan1;
  justify-self: left;
  align-self: center;
}
.plan2 {
  grid-area: plan2;
  justify-self: left;
}
.plan3 {
  grid-area: plan3;
  justify-self: left;
}
.plan4 {
  grid-area: plan4;
  justify-self: left;
}

.grid-systems {
  display: grid;
  padding: 3px;
  grid-template-areas:
    'sys1 sys2 sys3 sys4'
    'sys5 sys6 sys7 sys8';
  grid-template-columns: 14em 15em 10em 2em;
  border-color: var(--aliengreen);
  border-bottom: double;
}

.sys1 {
  grid-area: sys1;
  justify-self: left;
}
.sys2 {
  grid-area: sys2;
  justify-self: left;
}
.sys3 {
  grid-area: sys3;
  justify-self: left;
}
.sys4 {
  grid-area: sys4;
  justify-self: right;
}
.sys5 {
  grid-area: sys5;
  justify-self: left;
}
.sys6 {
  grid-area: sys6;
  justify-self: left;
}
.sys7 {
  grid-area: sys7;
  justify-self: left;
}
.sys8 {
  grid-area: sys8;
  justify-self: right;
}

.grid-Char-Att {
  display: grid;
  // border: 2px solid var(--aliengreen);
  padding-bottom: 4px;
  padding-top: 5px;
  padding-left: 30px;
  grid-row-gap: 3px;
  grid-column-gap: 10px;
  border-color: var(--aliengreen);
  align-items: center;
  grid-template-areas:
    'gCol1 gCol2 gCol3 gCol4 gCol5'
    'gCol6 gCol7 gCol8 gCol9 gCol10';
  grid-template-columns: 110px 50px 110px 50px 65px;
}

.gCol1 {
  grid-area: gCol1;
  justify-self: left;
}
.gCol2 {
  grid-area: gCol2;
  justify-self: center;
  align-self: center;
}
.gCol3 {
  grid-area: gCol3;
  justify-self: left;
}
.gCol4 {
  grid-area: gCol4;
  justify-self: center;
  align-self: center;
}
.gCol5 {
  grid-area: gCol5;
  justify-self: center;
}
.gCol6 {
  grid-area: gCol6;
  justify-self: left;
}
.gCol7 {
  grid-area: gCol7;
  justify-self: center;
  align-self: center;
}
.gCol8 {
  grid-area: gCol8;
  justify-self: left;
}
.gCol9 {
  grid-area: gCol9;
  justify-self: center;
  align-self: center;
}
.gCol10 {
  grid-area: gCol10;
  justify-self: center;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  border: 1px solid #999;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}
