.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  // grid-template-columns: repeat(2, minmax(50fr, 1fr));
  // gap: 5px;
  // margin: 5px 0;
  padding: 0;
  align-items: center;
  // justify-items: center;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  border-color: $c-green;
  // border-style: solid;
  justify-items: center;
  margin: 0;
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  border-color: $c-green;
  border-style: double;
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-2row {
  grid-column: span 1 / span 3;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  // justify-self: center;
  justify-items: center;
}

.grid-genPage {
  display: grid;
  // border: 2px solid white;
  grid-template-areas:
    'Item1 Item2 Item2'
    'Item1 Item4 Item4'
    'Item8 Item5 Item5'
    'Item8 Item3 Item3'
    'Item9 Item6 Item6'
    'Item9 Item7 Item7'
    'Item9 . .'
    'Item9 . .';

  grid-template-columns: 1fr 1fr 1fr;
}

.Item1 {
  grid-area: Item1;
  border: 1px solid white;
  padding: 5px;
}
.Item2 {
  grid-area: Item2;
  border: 1px solid white;
}
.Item3 {
  grid-area: Item3;
  border: 1px solid white;
}
.Item4 {
  grid-area: Item4;
  border: 1px solid white;
}
.Item5 {
  grid-area: Item5;
  border: 1px solid white;
}
.Item6 {
  grid-area: Item6;
  border: 1px solid white;
  justify-items: center;
}
.Item7 {
  grid-area: Item7;
  border: 1px solid white;
}
.Item8 {
  grid-area: Item8;
  border: 1px solid white;
  padding: 5px;
}
.Item9 {
  grid-area: Item9;
  border: 1px solid white;
}

.grid-container {
  display: grid;
  // gap: 5px;
  margin: 0;
  padding: 0;
  // align-items: center;
  // justify-items: first baseline;
  // border: 2px solid white;
  grid-template-areas: 'Col1 Col2 ';
  grid-template-rows: 1fr;
  grid-template-columns: 240px 1fr;
}
.Col1 {
  grid-area: Col1;
  // justify-items: left;
  // border: 2px solid white;
}
.Col2 {
  grid-area: Col2;
  // justify-items: right;
  // border: 2px solid white;
}

.grid-attr {
  display: grid;
  // gap: 5px;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  align-items: center;
  border: 1px solid white;
  grid-template-areas: 'Attr1 Attr2 ';
  grid-template-columns: 190px 50px;
}

.Attr1 {
  grid-area: Attr1;
  // justify-items: left;
  // border: 2px solid white;
}
.Attr2 {
  grid-area: Attr2;
  // justify-items: right;
  // border: 2px solid white;
}

.Attr3 {
  grid-area: Attr3;
  // justify-items: left;
  // border: 2px solid white;
}
.Attr4 {
  grid-area: Attr4;
  // justify-items: right;
  // border: 2px solid white;
}

.grid-Consumables {
  display: grid;
  // border: 2px solid white;
  grid-template-areas:
    'Heading Heading '
    'Air1 Air2'
    'Food1 Food2'
    'Power1 Power2'
    'Water1 Water2';

  grid-template-columns: 1fr 1fr;
}

.Heading {
  grid-area: Heading;
  // border: 1px solid white;
  justify-self: left;
}
.Air1 {
  grid-area: Air1;
  // border: 1px solid white;
  justify-content: left;
}
.Air2 {
  grid-area: Air2;
  // border: 1px solid white;
}
.Food1 {
  grid-area: Food1;
  // border: 1px solid white;
  justify-self: left;
}
.Food2 {
  grid-area: Food2;
  // border: 1px solid white;
}
.Power1 {
  grid-area: Power1;
  // border: 1px solid white;
  justify-self: left;
}
.Power2 {
  grid-area: Power2;
  // border: 1px solid white;
}
.Water1 {
  grid-area: Water1;
  // border: 1px solid white;
  justify-self: left;
}
.Water2 {
  grid-area: Water2;
  // border: 1px solid white;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  border: 1px solid #999;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}
