.alienrpg.actor .encumbrance {
  background: rgba(0, 0, 0, 0.1);
  height: 12px;
  margin-top: 5px;
  border: 1px solid #111;
  border-radius: 3px;
  position: relative;
  width: calc(100% - 20px);
}

.alienrpg.actor .encumbrance .encumbrance-bar {
  position: absolute;
  top: 1px;
  left: 1px;
  background: var(--aliengreen);
  height: 8px;
  border: 1px solid #6f5439;
  border-radius: 3px;
}

.alienrpg.actor .encumbrance .encumbrance-label {
  position: absolute;
  top: -3px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  color: #000;
  background: rgba(255, 255, 255, 0.4);
  padding: 0 3px;
}

.alienrpg.actor .encumbrance .encumbrance-breakpoint {
  position: absolute;
  left: 50%;
}

.alienrpg.actor .encumbrance .arrow-up {
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #666;
}

.alienrpg.actor .encumbrance .arrow-down {
  top: 0;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #666;
}

.alienrpg.actor .encumbrance.encumbered .arrow-up {
  border-bottom: 4px solid $c-white;
}

.alienrpg.actor .encumbrance.encumbered .arrow-down {
  border-top: 4px solid $c-white;
}
.alienrpg.actor .encumbrance.encumbered .encumbrance-bar {
  position: absolute;
  top: 1px;
  left: 1px;
  background: rgb(255, 30, 0);
  height: 8px;
  border: 1px solid #b9ca1d;
  border-radius: 3px;
}

/* @group Blink */
.blink {
  -webkit-animation: blink 2s linear infinite;
  -moz-animation: blink 2s linear infinite;
  -ms-animation: blink 2s linear infinite;
  -o-animation: blink 2s linear infinite;
  animation: blink 2s linear infinite;
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* @end */
