/* .journal-sheet form { */
.sheet.journal-entry .journal-entry-content {
	// color: var(--aliengreen);
	background: #000;
	border: 1px solid var(--aliengreen);
	border-radius: 1px;
	background: var(--journalback) top left;
	background-size: cover;
	// color: #b0e0e6;
	color: var(--alientextjournal);
}

.sheet.journal-entry .sidebar .directory-header .header-search input {
	color: hsl(0, 0%, 0%);
}

.alienprg .arpgtable {
	height: 36px;
	width: 80%;
	/* border-style: double;
        border-color: greenyellow; */
	margin-left: auto;
	margin-right: auto;
	border: 0;
}
.alienprg .arpgtable tr:nth-child(even) {
	background-color: transparent;
}

.alienprg .caption {
	text-align: center;
	color: greenyellow;
	font-size: xx-large;
}

.alienprg .arpgtablesmall {
	height: 36px;
	width: 34%;
	/* border-style: double;
        border-color: greenyellow; */
	margin-left: auto;
	margin-right: auto;
	border: 0;
}

.alienprg .arpgtablesmall tr:nth-child(even) {
	background-color: transparent;
}

.alienprg .tdstyle {
	width: 40%;
	height: 18px;
	text-align: left;
}
.alienprg .tdstyleR {
	width: 40%;
	height: 18px;
	text-align: Right;
}
.alienprg .tdstyleC {
	width: 100%;
	height: 18px;
	text-align: center;
}
.alienprg .tdstyle3D {
	width: 30%;
	height: 18px;
	text-align: center;
}
.alienprg .tdstyle2D {
	width: 50%;
	height: 18px;
	text-align: center;
}

.alienprg .arpglink {
	background-color: white;
	color: black;
}

.alienprg .mess {
	color: yellowgreen;
	font-family: 'Courier New', Courier, monospace;
}

.alienprg .ntable {
	width: 99%;
	/* border-style: double;
        border-color: greenyellow; */
	margin-left: auto;
	margin-right: auto;
	border: 0;
	padding-top: 0;
	padding-bottom: 0;
}
.alienprg .ntable tr:nth-child(even) {
	background-color: transparent;
}

.alienprg .trhead {
	text-align: center;
	width: 45%;
	font-weight: bold;
}

.alienprg .tcol1 {
	width: 2.5%;
}
.alienprg .tcol2 {
	width: 45%;
	text-align: justify;
	vertical-align: top;
}
.alienprg .tcol3 {
	width: 5%;
}

.alienprg .etable {
	width: 40%;
	/* border-style: double; */
	// border-color: hsl(0, 81%, 55%);
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid hsl(0, 81%, 55%);
	border-bottom: 1px solid hsl(0, 81%, 55%);
	padding: 0;
	padding-top: 0;
	padding-bottom: 0;
}
.alienprg .etable td:first-child {
	padding-left: 5px;
}
.alienprg .etr {
	/* border-style: solid;
        border-color: greenyellow; */
	border: 1;
}
.alienprg .ehead {
	text-align: center;
	font-weight: bold;
}
.alienprg .ecol1 {
	width: 50%;
	text-align: center;
}
.alienprg .ecol2 {
	width: 50%;
	text-align: center;
}
.alienprg .ecol3 {
	width: 3%;
	/* border-left: greenyellow;
        border-style: solid; */
}

.alienprg .stable {
	width: 90%;
	border-style: double;
	border-color: #e92d2d;
	margin-left: auto;
	margin-right: auto;
	// border: 1;
	padding-top: 0;
	padding-bottom: 0;
	border-left: none;
	border-right: none;
}

.alienprg .strhead {
	text-align: center;
	font-weight: bold;
}

.alienprg .scol1 {
	width: 16%;
}
.alienprg .scol2 {
	width: 3%;
}
.alienprg .scol3 {
	width: 80%;
}
.alienprg .scol4 {
	width: 25%;
}
.alienprg .scol5 {
	width: 60%;
	text-align: left;
}
.alienprg .scol6 {
	width: 90%;
}

.alienprg .scol7 {
	width: 20%;
	text-align: left;
}
.alienprg .scol8 {
	width: 65%;
	text-align: left;
}
.alienprg .scol9 {
	width: 12%;
}
.alienprg .scol10 {
	width: 50%;
}
.alienprg .skltable {
	width: 35%;
	/* border-style: double; */
	/* border-color: #e92d2d; */
	margin-left: auto;
	margin-right: auto;
	border: 1;
}

.alienprg .oddstable {
	width: 96%;
	height: 16px;
	border-style: double;
	border-color: #e92d2d;
	margin-left: auto;
	margin-right: auto;
	// border: 1;
	padding-top: 0;
	padding-bottom: 0;
	border-left: none;
	border-right: none;
}
.alienprg .oddstable tr:nth-child(even) {
	background-color: transparent;
}

.alienprg .oddstable tr:nth-child(odd) {
	background-color: #3a3d3f;
}
.alienprg .oddhead {
	font-weight: bold;
}
.alienprg .oddcol1 {
	width: 25%;
}
.alienprg .oddcol2 {
	width: 39%;
}
.oddcol3 {
	width: 36%;
}
.alienprg .oddcol4 {
	width: 40%;
}

.alienprg .bigtable {
	width: 99%;
	border-style: double;
	border-color: #e92d2d;
	margin-left: auto;
	margin-right: auto;
	// border: 1;
	padding-top: 0;
	padding-bottom: 0;
	border-left: none;
	border-right: none;
}
.alienprg .bigtable tr:nth-child(even) {
	background-color: transparent;
}

.alienprg .bigtable tr:nth-child(odd) {
	background-color: #3a3d3f;
}
.alienprg .die {
	width: 6%;
	text-align: center;
}

.alienprg .inj {
	width: 16%;
}

.alienprg .fatal {
	width: 6%;
}

.alienprg .tim {
	width: 7%;
	text-align: center;
}

.alienprg .eff {
	width: 56%;
}

.alienprg .heal {
	width: 15%;
	text-align: center;
}
.alienprg .crit {
	width: 19%;
	text-align: center;
}
.alienprg .eff2 {
	width: 55%;
}

/* V10 work */

.alienprg .aframe {
	position: relative;
}

.alienprg .leftcol {
	position: absolute;
	width: 45%;
	left: 1.2%;
	text-align: justify;
	/* background: #855f5f; */
}
.alienprg .rightcol {
	position: absolute;
	width: 45%;
	left: 50%;
	text-align: justify;
	/* background: rgb(174, 174, 110); */
}

.alienprg .heading {
	// text-align: center;
	color: var(--aliengreen);
	// font-size: xx-large;
	font-size: 28px;
	border-bottom: 2px solid var(--color-underline-header);
}
.alienprg .heading2 {
	text-align: center;
	color: var(--aliengreen);
	/* font-size: x-large; */
}
.alienprg .heading3 {
	color: var(--aliengreen);
}
.alienprg .imagecontainer {
	position: relative;
	text-align: center;
	color: white;
}

/* Import settings */
.alienprg .container {
	width: 100%;
}

.alienprg .listHeading {
	text-align: center;
	vertical-align: middle;
	padding: 10px 0px;
	border-bottom: 1px solid black;
	margin-bottom: 10px;
}

.alienprg .twogridcol {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(160px, 50%));
}

.alienprg .twogridcol input[type='checkbox'] {
	vertical-align: middle;
}

.alienprg .actors.content {
	background: lightgray;
}
.alienprg .actors.content.toggle-display {
	display: none;
}
.alienprg .items.content {
	background: lightgray;
}
.alienprg .items.content.toggle-display {
	display: none;
}

.journal-entry-page h1,
.journal-entry-page h2 {
	color: var(--aliengreen);
	border-bottom: 1px solid var(--color-underline-header);
}

.alienprg .journal.content {
	background: lightgray;
}
.alienprg .journal.content.toggle-display {
	display: none;
}
.alienprg .scenes.content {
	background: lightgray;
}
.alienprg .scenes.content.toggle-display {
	display: none;
}
.alienprg .tables.content {
	background: lightgray;
}
.alienprg .tables.content.toggle-display {
	display: none;
}
.alienprg .macros.content {
	background: lightgray;
}
.alienprg .macros.content.toggle-display {
	display: none;
}
.alienprg .title {
	cursor: pointer;
}
/* Footer */

.alienprg .footer {
	position: sticky;
	bottom: 0;
	left: 0;
	width: inherit;
	height: auto;
	background-color: #d0daee;
}

.alienprg .cinsymbol {
	display: inline-block;
	background-image: url('../images/icons/cin-symbol.png');
	width: 36px;
	height: 35px;
	vertical-align: middle;
	background-size: 36px;
	border: 0;
}
.alienprg .camsymbol {
	display: inline-block;
	background-image: url('../images/icons/cam-symbol.png');
	width: 36px;
	height: 35px;
	vertical-align: middle;
	background-size: 36px;
	border: 0;
}
.alienprg .stresssymbol {
	display: inline-block;
	background-image: url('../images/icons/alien-dice-y1.png');
	width: 36px;
	height: 35px;
	vertical-align: middle;
	background-size: 36px;
	border: 0;
}
.alienprg .basesymbol {
	display: inline-block;
	background-image: url('../images/icons/alien-dice-6.png');
	width: 36px;
	height: 35px;
	vertical-align: middle;
	background-size: 36px;
	border: 0;
}

.alienprg .datebox {
	width: 36px;
	height: 35px;
	background-color: rgb(26, 71, 53);
	color: white;
	border: solid rgb(72, 141, 99);
	border-radius: 5px;
	padding: 1%;
	vertical-align: middle;
}

.alienprg .datebox2 {
	float: inline-start;
	width: auto;
	margin-right: 10px;
	margin-top: 7px;
	height: 35px;
	background-color: rgb(26, 71, 53);
	color: white;
	border: solid rgb(72, 141, 99);
	border-radius: 5px;
	padding: 1%;
	vertical-align: middle;
}
.alienprg .colonytable {
	width: 60%;
	// border-color: #e92d2d;
	margin-left: auto;
	margin-right: auto;
	border: 1;
	padding-top: 0;
	padding-bottom: 0;
	font-family: 'OCR-A';
	text-align: center;
	border-top: 1px solid #e92d2d;
	border-bottom: 1px solid #e92d2d;
}

.alienprg .colonytable tr:nth-child(even) {
	background-color: #3a3d3f;
}

.alienprg .colonytable tr:nth-child(odd) {
	background-color: transparent;
}
.alienprg .colonyname {
	font-size: x-large;
	font-weight: bold;
}
.alienprg .colonyparent {
	font-size: smaller;
	font-weight: bold;
	border-right: solid red 1px;
}
.alienprg .colonyparentdata {
	border-right: solid red 1px;
	font-weight: bold;
}

.alienprg .colonyposition {
	font-size: smaller;
	font-weight: bold;
}
.alienprg .colonypositiondata {
	font-size: x-large;
}

.alienprg .trborder {
	border-bottom: solid transparent 5px;
}

.alienprg .colonyheader {
	font-size: smaller;
	width: 20%;
	font-weight: bold;
	border-right: solid red 1px;
}

.alienprg .colonyheaderright {
	font-size: smaller;
	width: 20%;
	font-weight: bold;
}

.alienprg .colonydata1 {
	width: 20%;
	border-right: solid red 1px;
}
.alienprg .colonydata2 {
	width: 20%;
}

.alienprg .bbw-table1 {
	width: 169px;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
}

table th,
table td {
	padding: 0px;
}
