/* .journal-sheet form { */
.sheet.journal-entry .journal-entry-content {
	// color: var(--aliengreen);
	background: #000;
	border: 1px solid var(--aliengreen);
	border-radius: 1px;
	background: var(--journalback) top left;
	background-size: cover;
	// color: #b0e0e6;
	color: var(--alientextjournal);
}

.sheet.journal-entry .sidebar .directory-header .header-search input {
	color: hsl(0, 0%, 0%);
}

.arpgtable {
	height: 36px;
	width: 80%;
	/* border-style: double;
        border-color: greenyellow; */
	margin-left: auto;
	margin-right: auto;
	border: 0;
}
.arpgtable tr:nth-child(even) {
	background-color: transparent;
}

.caption {
	text-align: center;
	color: greenyellow;
	font-size: xx-large;
}

.arpgtablesmall {
	height: 36px;
	width: 34%;
	/* border-style: double;
        border-color: greenyellow; */
	margin-left: auto;
	margin-right: auto;
	border: 0;
}

.arpgtablesmall tr:nth-child(even) {
	background-color: transparent;
}

.tdstyle {
	width: 40%;
	height: 18px;
	text-align: left;
}
.tdstyleR {
	width: 40%;
	height: 18px;
	text-align: Right;
}
.tdstyleC {
	width: 100%;
	height: 18px;
	text-align: center;
}
.tdstyle3D {
	width: 30%;
	height: 18px;
	text-align: center;
}
.tdstyle2D {
	width: 50%;
	height: 18px;
	text-align: center;
}

.arpglink {
	background-color: white;
	color: black;
}

.mess {
	color: yellowgreen;
	font-family: 'Courier New', Courier, monospace;
}

.ntable {
	width: 99%;
	/* border-style: double;
        border-color: greenyellow; */
	margin-left: auto;
	margin-right: auto;
	border: 0;
	padding-top: 0;
	padding-bottom: 0;
}
.ntable tr:nth-child(even) {
	background-color: transparent;
}

.trhead {
	text-align: center;
	width: 45%;
	font-weight: bold;
}

.tcol1 {
	width: 2.5%;
}
.tcol2 {
	width: 45%;
	text-align: justify;
	vertical-align: top;
}
.tcol3 {
	width: 5%;
}

.etable {
	width: 40%;
	/* border-style: double; */
	// border-color: hsl(0, 81%, 55%);
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid hsl(0, 81%, 55%);
	border-bottom: 1px solid hsl(0, 81%, 55%);
	padding: 0;
	padding-top: 0;
	padding-bottom: 0;
}
.etable td:first-child {
	padding-left: 5px;
}
.etr {
	/* border-style: solid;
        border-color: greenyellow; */
	border: 1;
}
.ehead {
	text-align: center;
	font-weight: bold;
}
.ecol1 {
	width: 50%;
	text-align: center;
}
.ecol2 {
	width: 50%;
	text-align: center;
}
.ecol3 {
	width: 3%;
	/* border-left: greenyellow;
        border-style: solid; */
}

.stable {
	width: 90%;
	border-style: double;
	border-color: #e92d2d;
	margin-left: auto;
	margin-right: auto;
	// border: 1;
	padding-top: 0;
	padding-bottom: 0;
	border-left: none;
	border-right: none;
}

.strhead {
	text-align: center;
	font-weight: bold;
}

.scol1 {
	width: 16%;
}
.scol2 {
	width: 3%;
}
.scol3 {
	width: 80%;
}
.scol4 {
	width: 25%;
}
.scol5 {
	width: 60%;
	text-align: left;
}
.scol6 {
	width: 90%;
}

.scol7 {
	width: 20%;
	text-align: left;
}
.scol8 {
	width: 65%;
	text-align: left;
}
.scol9 {
	width: 12%;
}
.scol10 {
	width: 50%;
}
.skltable {
	width: 35%;
	/* border-style: double; */
	/* border-color: #e92d2d; */
	margin-left: auto;
	margin-right: auto;
	border: 1;
}

.oddstable {
	width: 96%;
	height: 16px;
	border-style: double;
	border-color: #e92d2d;
	margin-left: auto;
	margin-right: auto;
	// border: 1;
	padding-top: 0;
	padding-bottom: 0;
	border-left: none;
	border-right: none;
}
.oddstable tr:nth-child(even) {
	background-color: transparent;
}

.oddstable tr:nth-child(odd) {
	background-color: #3a3d3f;
}
.oddhead {
	font-weight: bold;
}
.oddcol1 {
	width: 25%;
}
.oddcol2 {
	width: 39%;
}
.oddcol3 {
	width: 36%;
}
.oddcol4 {
	width: 40%;
}

.bigtable {
	width: 99%;
	border-style: double;
	border-color: #e92d2d;
	margin-left: auto;
	margin-right: auto;
	// border: 1;
	padding-top: 0;
	padding-bottom: 0;
	border-left: none;
	border-right: none;
}
.bigtable tr:nth-child(even) {
	background-color: transparent;
}

.bigtable tr:nth-child(odd) {
	background-color: #3a3d3f;
}
.die {
	width: 6%;
	text-align: center;
}

.inj {
	width: 16%;
}

.fatal {
	width: 6%;
}

.tim {
	width: 7%;
	text-align: center;
}

.eff {
	width: 56%;
}

.heal {
	width: 15%;
	text-align: center;
}
.crit {
	width: 19%;
	text-align: center;
}
.eff2 {
	width: 55%;
}

/* V10 work */

.aframe {
	position: relative;
}

.leftcol {
	position: absolute;
	width: 45%;
	left: 1.2%;
	text-align: justify;
	/* background: #855f5f; */
}
.rightcol {
	position: absolute;
	width: 45%;
	left: 50%;
	text-align: justify;
	/* background: rgb(174, 174, 110); */
}

.alienrpg .heading {
	// text-align: center;
	color: var(--aliengreen);
	// font-size: xx-large;
	font-size: 28px;
	border-bottom: 2px solid var(--color-underline-header);
}
.heading2 {
	text-align: center;
	color: var(--aliengreen);
	/* font-size: x-large; */
}
.heading3 {
	color: var(--aliengreen);
}
.imagecontainer {
	position: relative;
	text-align: center;
	color: white;
}

/* Import settings */
.container {
	width: 100%;
}

.listHeading {
	text-align: center;
	vertical-align: middle;
	padding: 10px 0px;
	border-bottom: 1px solid black;
	margin-bottom: 10px;
}

.twogridcol {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(160px, 50%));
}

.twogridcol input[type='checkbox'] {
	vertical-align: middle;
}

.actors.content {
	background: lightgray;
}
.actors.content.toggle-display {
	display: none;
}
.items.content {
	background: lightgray;
}
.items.content.toggle-display {
	display: none;
}

.journal-entry-page h1,
.journal-entry-page h2 {
	color: var(--aliengreen);
	border-bottom: 1px solid var(--color-underline-header);
}

.journal.content {
	background: lightgray;
}
.journal.content.toggle-display {
	display: none;
}
.scenes.content {
	background: lightgray;
}
.scenes.content.toggle-display {
	display: none;
}
.tables.content {
	background: lightgray;
}
.tables.content.toggle-display {
	display: none;
}
.macros.content {
	background: lightgray;
}
.macros.content.toggle-display {
	display: none;
}
.title {
	cursor: pointer;
}
/* Footer */

.footer {
	position: sticky;
	bottom: 0;
	left: 0;
	width: inherit;
	height: auto;
	background-color: #d0daee;
}

.cinsymbol {
	display: inline-block;
	background-image: url('../images/icons/cin-symbol.png');
	width: 36px;
	height: 35px;
	vertical-align: middle;
	background-size: 36px;
	border: 0;
}
.camsymbol {
	display: inline-block;
	background-image: url('../images/icons/cam-symbol.png');
	width: 36px;
	height: 35px;
	vertical-align: middle;
	background-size: 36px;
	border: 0;
}
.stresssymbol {
	display: inline-block;
	background-image: url('../images/icons/alien-dice-y1.png');
	width: 36px;
	height: 35px;
	vertical-align: middle;
	background-size: 36px;
	border: 0;
}
.basesymbol {
	display: inline-block;
	background-image: url('../images/icons/alien-dice-6.png');
	width: 36px;
	height: 35px;
	vertical-align: middle;
	background-size: 36px;
	border: 0;
}

.datebox {
	width: 36px;
	height: 35px;
	background-color: rgb(26, 71, 53);
	color: white;
	border: solid rgb(72, 141, 99);
	border-radius: 5px;
	padding: 1%;
	vertical-align: middle;
}

.datebox2 {
	float: inline-start;
	width: auto;
	margin-right: 10px;
	margin-top: 7px;
	height: 35px;
	background-color: rgb(26, 71, 53);
	color: white;
	border: solid rgb(72, 141, 99);
	border-radius: 5px;
	padding: 1%;
	vertical-align: middle;
}
.colonytable {
	width: 60%;
	// border-color: #e92d2d;
	margin-left: auto;
	margin-right: auto;
	border: 1;
	padding-top: 0;
	padding-bottom: 0;
	font-family: 'OCR-A';
	text-align: center;
	border-top: 1px solid #e92d2d;
	border-bottom: 1px solid #e92d2d;
}

.colonytable tr:nth-child(even) {
	background-color: #3a3d3f;
}

.colonytable tr:nth-child(odd) {
	background-color: transparent;
}
.colonyname {
	font-size: x-large;
	font-weight: bold;
}
.colonyparent {
	font-size: smaller;
	font-weight: bold;
	border-right: solid red 1px;
}
.colonyparentdata {
	border-right: solid red 1px;
	font-weight: bold;
}

.colonyposition {
	font-size: smaller;
	font-weight: bold;
}
.colonypositiondata {
	font-size: x-large;
}

.trborder {
	border-bottom: solid transparent 5px;
}

.colonyheader {
	font-size: smaller;
	width: 20%;
	font-weight: bold;
	border-right: solid red 1px;
}

.colonyheaderright {
	font-size: smaller;
	width: 20%;
	font-weight: bold;
}

.colonydata1 {
	width: 20%;
	border-right: solid red 1px;
}
.colonydata2 {
	width: 20%;
}

.bbw-table1 {
	width: 169px;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
}

table th,
table td {
	padding: 0px;
}
