/* .journal-sheet form { */
.sheet.journal-entry .journal-entry-content {
  color: var(--aliengreen);
  background: #000;
  border: 1px solid var(--aliengreen);
  border-radius: 1px;
  background: url(../images/indbackground2.png) no-repeat top left;
  background-size: cover;
  color: powderblue;
}

.sheet.journal-entry .sidebar .directory-header .header-search input {
  color: hsl(0, 0%, 0%);
}

.arpgtable {
  height: 36px;
  width: 80%;
  /* border-style: double;
        border-color: greenyellow; */
  margin-left: auto;
  margin-right: auto;
  border: 0;
}
.arpgtable tr:nth-child(even) {
  background-color: transparent;
}

.caption {
  text-align: center;
  color: greenyellow;
  font-size: xx-large;
}

.arpgtablesmall {
  height: 36px;
  width: 34%;
  /* border-style: double;
        border-color: greenyellow; */
  margin-left: auto;
  margin-right: auto;
  border: 0;
}

.arpgtablesmall tr:nth-child(even) {
  background-color: transparent;
}
.tdstyle {
  width: 40%;
  height: 18px;
  text-align: left;
}
.tdstyleR {
  width: 40%;
  height: 18px;
  text-align: Right;
}

.arpglink {
  background-color: white;
  color: black;
}

.mess {
  color: yellowgreen;
  font-family: 'Courier New', Courier, monospace;
}

.ntable {
  width: 99%;
  /* border-style: double;
        border-color: greenyellow; */
  margin-left: auto;
  margin-right: auto;
  border: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.ntable tr:nth-child(even) {
  background-color: transparent;
}

.trhead {
  text-align: center;
  width: 45%;
  font-weight: bold;
}

.tcol1 {
  width: 2.5%;
}
.tcol2 {
  width: 45%;
  text-align: justify;
  vertical-align: top;
}
.tcol3 {
  width: 5%;
}

.etable {
  width: 40%;
  /* border-style: double; */
  border-color: #e92d2d;
  margin-left: auto;
  margin-right: auto;
  border: 1;
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.etable td:first-child {
  padding-left: 5px;
}
.etr {
  /* border-style: solid;
        border-color: greenyellow; */
  border: 1;
}
.ehead {
  text-align: center;
  font-weight: bold;
}
.ecol1 {
  width: 50%;
  text-align: center;
}
.ecol2 {
  width: 50%;
  text-align: center;
}
.ecol3 {
  width: 3%;
  /* border-left: greenyellow;
        border-style: solid; */
}

.stable {
  width: 90%;
  /* border-style: double; */
  border-color: #e92d2d;
  margin-left: auto;
  margin-right: auto;
  border: 1;
  padding-top: 0;
  padding-bottom: 0;
}

.strhead {
  text-align: center;
  font-weight: bold;
}

.scol1 {
  width: 16%;
}
.scol2 {
  width: 3%;
}
.scol3 {
  width: 80%;
}
.scol4 {
  width: 25%;
}
.scol5 {
  width: 60%;
  text-align: left;
}
.scol6 {
  width: 90%;
}

.scol7 {
  width: 20%;
  text-align: left;
}
.scol8 {
  width: 65%;
  text-align: left;
}
.scol9 {
  width: 12%;
}

.skltable {
  width: 35%;
  /* border-style: double; */
  /* border-color: #e92d2d; */
  margin-left: auto;
  margin-right: auto;
  border: 1;
}

.oddstable {
  width: 96%;
  height: 16px;
  /* border-style: double; */
  border-color: #e92d2d;
  margin-left: auto;
  margin-right: auto;
  border: 1;
  padding-top: 0;
  padding-bottom: 0;
}

.oddhead {
  font-weight: bold;
}
.oddcol1 {
  width: 25%;
}
.oddcol2 {
  width: 39%;
}
.oddcol3 {
  width: 36%;
}
.oddcol4 {
  width: 40%;
}

.bigtable {
  width: 99%;
  /* border-style: double; */
  border-color: #e92d2d;
  margin-left: auto;
  margin-right: auto;
  border: 1;
  padding-top: 0;
  padding-bottom: 0;
}

.die {
  width: 6%;
  text-align: center;
}

.inj {
  width: 16%;
}

.fatal {
  width: 6%;
}

.tim {
  width: 7%;
  text-align: center;
}

.eff {
  width: 56%;
}

.heal {
  width: 15%;
  text-align: center;
}
.crit {
  width: 19%;
  text-align: center;
}
.eff2 {
  width: 55%;
}

/* V10 work */

.alienrpg .aframe {
  position: relative;
}

.alienrpg .leftcol {
  position: absolute;
  width: 45%;
  left: 1.2%;
  text-align: justify;
  /* background: #855f5f; */
}
.alienrpg .rightcol {
  position: absolute;
  width: 45%;
  left: 50%;
  text-align: justify;
  /* background: rgb(174, 174, 110); */
}

.alienrpg .heading {
  // text-align: center;
  color: var(--aliengreen);
  // font-size: xx-large;
  font-size: 28px;
  border-bottom: 2px solid var(--color-underline-header);
}
.alienrpg .heading2 {
  text-align: center;
  color: var(--aliengreen);
  /* font-size: x-large; */
}
.alienrpg .heading3 {
  color: var(--aliengreen);
}
