.spanner-icon {
  display: inline-block;
  width: 30px;
  height: 25px;
  padding: 0px;
  margin: 1px;
  background: url(../images/mother-instructions/spanner-icon.webp);
}
.character-sheet-img {
  display: block;
  width: 500px;
  height: 519px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
  background: url(../images/mother-instructions/character-sheet-img.webp);
}
.creature-sheet-img {
  display: block;
  width: 500px;
  height: 477px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
  background: url(../images/mother-instructions/creature-sheet-img.webp);
}
.character-header {
  display: block;
  width: 500px;
  height: 152px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
  background: url(../images/mother-instructions/character-header.webp);
}
.synthetic-header {
  display: block;
  width: 500px;
  height: 155px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
  background: url(../images/mother-instructions/synthetic-header.webp);
}

.agil-mod {
  display: block;
  width: 403px;
  height: 162px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
  background: url(../images/mother-instructions/agil-mod.webp);
}
.armor-mod {
  display: block;
  width: 403px;
  height: 172px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
  background: url(../images/mother-instructions/armor-mod.webp);
}
.stress-mod {
  display: block;
  width: 400px;
  height: 136px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
  background: url(../images/mother-instructions/stress-mod.webp);
}
.character-details {
  display: block;
  width: 300px;
  height: 328px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
  background: url(../images/mother-instructions/character-details.webp);
}
.synthetic-details {
  display: block;
  width: 300px;
  height: 380px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
  background: url(../images/mother-instructions/synthetic-details.webp);
}

.character-consumables {
  display: block;
  width: 153px;
  height: 330px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
  background: url(../images/mother-instructions/character-consumables.webp);
}

.synthetic-consumables {
  display: block;
  width: 153px;
  height: 360px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
  background: url(../images/mother-instructions/synthetic-consumables.webp);
}
.talent-agenda {
  display: block;
  width: 300px;
  height: 260px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
  background: url(../images/mother-instructions/talent-agenda.webp);
}
.con-edit {
  display: block;
  width: 151px;
  height: 109px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
  background: url(../images/mother-instructions/con-edit.webp);
}
.enc {
  display: block;
  width: 600px;
  height: 71px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
  background: url(../images/mother-instructions/enc.webp);
}
.enc-warn {
  display: block;
  width: 462px;
  height: 49px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
  background: url(../images/mother-instructions/enc-warn.webp);
}
.inv-inact {
  display: block;
  width: 600px;
  height: 199px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
  background: url(../images/mother-instructions/inv-inact.webp);
}
.moskills {
  display: block;
  width: 300px;
  height: 254px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
  background: url(../images/mother-instructions/skills.webp);
}

.creature-header {
  display: block;
  width: 500px;
  height: 102px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
  background: url(../images/mother-instructions/creature-header.webp);
}
.creature-attack-dropdown {
  display: block;
  width: 600px;
  height: 330px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
  background: url(../images/mother-instructions/creature-attack-dropdown.webp);
}
.acid-splash-popup {
  display: block;
  width: 400px;
  height: 141px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
  background: url(../images/mother-instructions/acid-splash-popup.webp);
}
.chat-roll {
  display: block;
  width: 300px;
  height: 188px;
  background: url(../images/mother-instructions/chat-roll.webp);
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.radiation-roll {
  display: block;
  width: 240px;
  height: 274px;
  background: url(../images/mother-instructions/radiation-rolls.webp);
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.territories-general {
  display: block;
  width: 500px;
  height: 498px;
  background: url(../images/mother-instructions/territories-general.webp);
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.territories-systems {
  display: block;
  width: 500px;
  height: 186px;
  background: url(../images/mother-instructions/territories-systems.webp);
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.vehicle-general {
  display: block;
  width: 500px;
  height: 342px;
  background: url(../images/mother-instructions/vehicle-general.webp);
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.vehicle-inv {
  display: block;
  width: 500px;
  height: 343px;
  background: url(../images/mother-instructions/vehicle-inv.webp);
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.vehicle-crew {
  display: block;
  width: 500px;
  height: 227px;
  background: url(../images/mother-instructions/vehicle-crew.webp);
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.item-dropdown {
  display: block;
  width: 300px;
  height: 263px;
  background: url(../images/mother-instructions/item-dropdown.webp);
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.modifiers-img {
  display: block;
  width: 600px;
  height: 417px;
  background: url(../images/mother-instructions/modifiers-img.webp);
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.melee-img {
  display: block;
  width: 600px;
  height: 417px;
  background: url(../images/mother-instructions/melee-img.webp);
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.ranged-img {
  display: block;
  width: 600px;
  height: 417px;
  background: url(../images/mother-instructions/ranged-img.webp);
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.armor-img {
  display: block;
  width: 600px;
  height: 415px;
  background: url(../images/mother-instructions/armor-img.webp);
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}

.planet-system-img {
  display: block;
  width: 600px;
  height: 562px;
  background: url(../images/mother-instructions/planet-system-img.webp);
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.initiative-roll {
  display: block;
  width: 300px;
  height: 277px;
  background: url(../images/mother-instructions/initiative-roll.webp);
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.clone-actor {
  display: inline-block;
  width: 200px;
  height: 119px;
  background: url(../images/mother-instructions/clone-actor.webp);
  margin-left: 25%;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.roll-clone {
  display: inline-block;
  width: 200px;
  height: 207px;
  background: url(../images/mother-instructions/roll-clone.webp);
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.init-chat-norm {
  display: block;
  width: 200px;
  height: 388px;
  background: url(../images/mother-instructions/init-chat-norm.webp);
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.init-chat-cards {
  display: block;
  width: 200px;
  height: 378px;
  background: url(../images/mother-instructions/init-chat-cards.webp);
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.gm-settings {
  display: block;
  width: 500px;
  height: 491px;
  background: url(../images/mother-instructions/gm-settings.webp);
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.player-settings {
  display: block;
  width: 500px;
  height: 301px;
  background: url(../images/mother-instructions/player-settings.webp);
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.style-settings {
  display: block;
  width: 400px;
  height: 333px;
  background: url(../images/mother-instructions/style-settings.webp);
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.style-button-settings {
  display: block;
  width: 300px;
  height: 161px;
  background: url(../images/mother-instructions/style-button-settings.webp);
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.font-picker-img {
  display: inline-block;
  width: 300px;
  height: 272px;
  background: url(../images/mother-instructions/font-picker-img.webp);
  margin-left: 5%;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.colour-picker-img {
  display: inline-block;
  width: 300px;
  height: 206px;
  background: url(../images/mother-instructions/colour-picker-img.webp);
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.character-token {
  display: block;
  width: 230px;
  height: 234px;
  background: url(../images/mother-instructions/character-token.webp);
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.creature-token {
  display: block;
  width: 230px;
  height: 235px;
  background: url(../images/mother-instructions/creature-token.webp);
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.mpush1 {
  display: block;
  width: 300px;
  height: 241px;
  background: url(../images/mother-instructions/mpush1.webp);
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.mpush2 {
  display: block;
  width: 300px;
  height: 340px;
  background: url(../images/mother-instructions/mpush2.webp);
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.mpush3 {
  display: block;
  width: 300px;
  height: 297px;
  background: url(../images/mother-instructions/mpush3.webp);
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}

.pwr-supply {
  display: block;
  width: 600px;
  height: 134px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
  background: url(../images/mother-instructions/power.webp);
}
.synth-hum {
  display: block;
  width: 153px;
  height: 87px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
  background: url(../images/mother-instructions/synth-hum.webp);
}

.inventory-tab-img {
  display: block;
  width: 600px;
  height: 435px;
  background: url(../images/mother-instructions/inventory-tab.webp);
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}

.inv-context-menu-img {
  display: block;
  width: 151px;
  height: 70px;
  background: url(../images/mother-instructions/inv-context-menu.webp);
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}

.status-icons-img {
  display: block;
  width: 230px;
  height: 229px;
  background: url(../images/mother-instructions/status-icons.webp);
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}

.enc-icon-img {
  display: block;
  width: 230px;
  height: 207px;
  background: url(../images/mother-instructions/enc-icon.webp);
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
