@use '../utils/colors';

/* class applies to select element itself, not a wrapper element */
.select-css {
	display: block;
	font-size: 15px;
	font-family: var(--alienfont);
	font-weight: 700;
	color: var(--aliengreen);
	line-height: 15px;
	// padding: 0.6em 1.4em 0.5em 0.8em;
	width: 100%;
	max-width: 90%; /* useful when width is set to anything other than 100% */
	box-sizing: border-box;
	margin: 0;
	border: 1px solid var(--aliengreen);
	box-shadow: 0 1px 0 1px var(--black);
	border-radius: 0.5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	    height: 25px;
	//   background-color: #fff;
	/* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
		for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
		
	*/
	// background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23ADFF2F%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	//   linear-gradient(to bottom, black 0%, black 100%);
	background-image: url(../images/downarrow.webp);
	background-repeat: no-repeat, repeat;

	/* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
	background-position: right 0.7em top 50%, 0 0;
	/* icon size, then gradient */
	background-size: 1em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
	display: none;
}
/* Hover style */
.select-css:hover {
	color: inherit;
}
/* Focus style */
.select-css:focus {
	color: inherit;
	/* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
	box-shadow: 0 0 1px 1px var(--aliengreen);
	box-shadow: 0 0 0 1px -moz-mac-focusring var(--aliengreen);
	color: var(--aliengreen);
	outline: none;
	background-color: var(--black);
}

/* Set options to normal weight */
.select-css option {
	font-weight: normal;
	background: var(--black);
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir='rtl'] .select-css,
:root:lang(ar) .select-css,
:root:lang(iw) .select-css {
	background-position: left 0.7em top 50%, 0 0;
	padding: 0.6em 0.8em 0.5em 1.4em;
}

/* Disabled styles */
.select-css:disabled,
.select-css[aria-disabled='true'] {
	color: var(--aliengreen);
	background-image: url(../images/downarrow.webp);
	background-repeat: no-repeat, repeat;
	// background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	//   linear-gradient(to bottom, black 0%, black 100%);
}

.select-css:disabled:hover,
.select-css[aria-disabled='true'] {
	border-color: hsl(0, 0%, 67%);
}
