// .window-app {
// font-family: $font-primary;
// color: $c-green;
// background: $c-black;
// }

.alienrpg .window-content {
  font-family: $font-primary;
  color: $c-green;
  background: $c-black;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  // background: url(../ui/parchment.jpg) repeat;
  padding: 2px;
  overflow-y: auto;
  overflow-x: auto;
}

.rollable {
  &:hover,
  &:focus {
    color: black;
    text-shadow: 0 0 20px red;
    font-size: 110%;
    cursor: pointer;
  }
}
