.alienrpg ul ol {
  margin-left: 3px;
}
.alienrpg .window-content {
  font-family: var(--alienfont);
  color: var(--aliengreen);
  font-size: var(--fontsize);
  background: $c-black;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 2px;
  overflow-y: scroll;
  overflow-x: auto;
  border: var(--aliengreen) 3px;
}
.journal-sheet {
  form {
    // font-family: var(--alienfont);
    color: var(--aliengreen);
    background: $c-black;
    border: 1px solid var(--aliengreen);
    border-radius: 1px;
  }
  select {
    font-family: var(--alienfont);
    //  color: $c-green;
    color: inherit;
    background: $c-black;
    border: var(--aliengreen) 3px;
    border: 1px solid #7a7971;
    border-radius: 3px;
    padding: 0 3px;
    text-overflow: ellipsis;
    font-size: 16px;
  }
  input {
    font-family: var(--alienfont);
    //  color: $c-green;
    color: inherit;

    background: $c-black;
    border: var(--aliengreen) 3px;
  }
  button {
    font-family: var(--alienfont);
    //  color: $c-green;
    color: inherit;

    background: $c-black;
    border: var(--aliengreen) solid 1px;
    width: 100%;
    margin: 0 1px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 28px;
  }
  .tox .tox-editor-container {
    background-color: white;
  }
}

.alienrpg a.entity-link {
  color: white;
  background: black;
}
#chat .message {
  border: 1px solid rgb(94, 80, 80);
  border-radius: 1px;
}
.chat-message {
  background-image: url('/systems/alienrpg/images/IndBackground3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: inherit;
  //  color: $c-green;

  .message-header .message-sender {
    color: var(--aliengreen);
    // color: inherit;
  }
  .message-metadata {
    color: var(--aliengreen);
    // color: inherit;
  }
  .flavor-text {
    color: var(--aliengreen);
    // color: inherit;
  }
  .table-draw .table-results .table-result {
    color: var(--aliengreen);
    // color: inherit;
  }
}
.chat-message .table-draw .table-results .table-result .chatBG {
  background-image: url('/systems/alienrpg/images/IndBackground3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--aliengreen);

  padding-left: 6px;
}
.chat-message.whisper {
  background: rgb(22, 22, 22);
  //  color: $c-green;
  color: var(--aliengreen);
}

.chat-message.blind {
  background: rgb(22, 22, 22);
}

.dice-tooltip {
  border: 1px solid var(--aliengreen);
  border-radius: 1px;
  background: $c-black;

  .dice-rolls {
    color: inherit;
    //  color: $c-green;
    background: $c-black;
  }
  .part-header {
    color: inherit;
    //  color: $c-green;
    background: $c-black;
  }
}

.inline-roll .dice-tooltip {
  color: inherit;
  //  color: $c-green;
  background: $c-black;
  border: 2px solid var(--aliengreen);
  border-radius: 2px;
}
// a.entity-link,
a.inline-roll {
  background: black;
  padding: 1px 4px;
  border: 1px solid var(--aliengreen);
  border-radius: 2px;
  white-space: nowrap;
  word-break: break-all;
}

.dice-roll .dice-formula,
.dice-roll .dice-total {
  // color: inherit;
  color: var(--aliengreen);
}
.dice-tooltip .part-header .part-formula {
  //  color: $c-green;
  color: inherit;
}
.part-total {
  //  color: $c-green;
  color: inherit;
}

.alienrpg h2 {
  border: 0;
  padding: 0;
  margin: 1px;
  margin-left: 5px;
  // font-size: var(--fontsize) ;
}
.alienrpg h3 {
  border: 0;
  padding: 0;
  margin: 1px;
  // font-size: var(--fontsize) ;

  // margin-left: 2px;
}

.alienrpg h4 {
  border: 0;
  padding: 0;
  margin: 1px;
  // font-size: var(--fontsize) ;
}
.resource-content {
  button {
    flex: 0;
    border: 0;
    width: 30px;
    font-size: 1.5rem;
    padding: 0;
    color: inherit;
    margin: 0;
  }
}

.rollable {
  &:hover,
  &:focus {
    // color: black;
    text-shadow: 0 0 20px red;
    font-size: 95%;
    cursor: pointer;
  }
}
.creature-acid-roll {
  &:hover,
  &:focus {
    // color: black;
    text-shadow: 0 0 20px red;
    font-size: 110%;
    cursor: pointer;
  }
}
.rollItem {
  &:hover,
  &:focus {
    // color: black;
    text-shadow: 0 0 20px red;
    font-size: 110%;
    font-weight: bolder;
    cursor: pointer;
  }
}
.talent-btn {
  &:hover,
  &:focus {
    color: rgb(40, 143, 0);
    text-shadow: 0 0 20px red;
    // font-size: 110%;
    font-weight: bolder;
    cursor: pointer;
  }
}

.minus-btn .plus-btn {
  width: 10px;
  height: 10px;
  line-height: 20px;
  padding: 0;
}
.supply-btn {
  font-size: 5px;
  padding: 0;
  font-family: var(--alienfont);
}

.stunt-btn {
  width: 5px;
  padding: 0;
  font-family: var(--alienfont);
}

.creature-attack-roll {
  display: inline-block;
  width: 260px;
  height: 42px;
  padding-top: 5px;
  margin: 1px;
  border: none;
  background: url(../images/AlienRPG-Roll-Attack-Push-Button.png) no-repeat top left;
}
.creature-attack-roll:hover {
  border-radius: 10px;
  background-color: #942a22;
  color: rgb(255, 0, 0);
}
.creature-attack-roll:active {
  position: relative;
  top: 1px;
  border-radius: unset;
  background-color: unset;
  color: unset;
}
button:hover,
button:focus {
  box-shadow: unset;
}

.alien-diceface-b0 {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 0px;
  margin: 1px;
  background: url(../ui/alien-dice-b0.png) no-repeat top left;
}
.alien-diceface-b6 {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 0px;
  margin: 1px;
  background: url(../ui/alien-dice-b6.png) no-repeat top left;
}
.alien-diceface-y0 {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 0px;
  margin: 1px;
  background: url(../ui/alien-dice-y0.png) no-repeat top left;
}
.alien-diceface-y1 {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 0px;
  margin: 1px;
  background: url(../ui/alien-dice-y1.png) no-repeat top left;
}
.alien-diceface-y6 {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 0px;
  margin: 1px;
  background: url(../ui/alien-dice-y6.png) no-repeat top left;
}
.alien-Push-button {
  display: inline-block;
  width: 260px;
  height: 42px;
  padding-top: 5px;
  margin: 1px;
  border: none;
  background: url(../images/AlienRPG-Push-Button.png) no-repeat top left;
}
.alien-Push-button:hover {
  border-radius: 10px;
  background-color: #942a22;
  color: rgb(255, 0, 0);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: black;
  //  color: $c-green;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
  margin-left: -60px;
  border-style: solid;
  border-color: var(--aliengreen);
}
.tooltip .tooltiptext::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent $c-green;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
