<form class="{{cssClass}}" autocomplete="off">
	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="general">{{localize "ALIENRPG.General"}}</a>
		<a class="item" data-tab="description">{{localize "ALIENRPG.Description"}}</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body" style="margin-top: 10px">
		{{!--General Tab --}}
		<div class="tab general" data-group="primary" data-tab="general">
			<div style="background-image: url(/modules/alienrpg-bbw/images/pictures/planet-sheet.webp); background-repeat: no-repeat">
				<!-- Col1 -->
				<div>
					<h6 class="resource-label" style="margin: 0px 0px 0px 499px; padding-top: 59px; color: black; font-weight: bolder">SOLAR SYSTEM</h6>
					<h2 style="max-width: 351px; margin: 0px 0px 0px 373px"><input name="name" type="text" value="{{actor.name}}" /></h2>
					<br /><br />
					<br /><br />
					<br /><br />
					<br /><br />
					<br /><br />
					<br />

					<h3 class="resource-label s1h3">PARENT STAR</h3>
					<input
						class="textbox s1h28"
						style="max-width: 200px"
						type="text"
						name="system.attributes.parentstar"
						value="{{system.attributes.parentstar}}"
						data-dtype="String"
					/>

					<h3 class="resource-label s1h4">SURVEYED PLANET POSITION</h3>
					<input
						class="maxboxsize s1h29"
						type="text"
						name="system.attributes.planetposition.value"
						value="{{system.attributes.planetposition.value}}"
						data-dtype="Number"
					/>

					<h3 class="resource-label s1h30">GAS GIANTS</h3>
					<input
						type="text"
						class="maxboxsize s1h32"
						name="system.attributes.gasgiants.value"
						value="{{system.attributes.gasgiants.value}}"
						data-dtype="Number"
					/>
					<h3 class="resource-label s1h30">ICE PLANETS</h3>
					<input
						type="text"
						class="maxboxsize s1h32"
						name="system.attributes.iceplanets.value"
						value="{{system.attributes.iceplanets.value}}"
						data-dtype="Number"
					/>
					<h3 class="resource-label s1h30">ASTEROID BELTS</h3>
					<input
						type="text"
						class="maxboxsize s1h32"
						name="system.attributes.asteroidbelts.value"
						value="{{system.attributes.asteroidbelts.value}}"
						data-dtype="Number"
					/>

					<h3 class="resource-label s1h4">RADIATION</h3>
					<input class="textbox s1h29" type="text" name="system.attributes.radiation" value="{{system.attributes.radiation}}" data-dtype="String" />
					<h3 class="resource-label s1h4">PLANET SIZE</h3>
					<input class="textbox s1h29" type="text" name="system.attributes.planetsize" value="{{system.attributes.planetsize}}" data-dtype="String" />
					<h3 class="resource-label s1h4">ATMOSPHERE</h3>
					<input class="textbox s1h29" type="text" name="system.attributes.atmosphere" value="{{system.attributes.atmosphere}}" data-dtype="String" />
					<h3 class="resource-label s1h4">HYDROSPHERE</h3>
					<input class="textbox s1h29" type="text" name="system.attributes.hydrosphere" value="{{system.attributes.hydrosphere}}" data-dtype="String" />
					<h3 class="resource-label s1h4">DAY LENGTH</h3>
					<input class="textbox s1h29" type="text" name="system.attributes.daylength" value="{{system.attributes.daylength}}" data-dtype="String" />
					<h3 class="resource-label s1h4">AXIAL TILT</h3>
					<input class="textbox s1h29" type="text" name="system.attributes.axialtilt" value="{{system.attributes.axialtilt}}" data-dtype="String" />
					<h3 class="resource-label s1h4">GRAVITY</h3>
					<input class="textbox s1h29" type="text" name="system.attributes.gravity" value="{{system.attributes.gravity}}" data-dtype="String" />
					<h3 class="resource-label s1h4">CLIMATE</h3>
					<input class="textbox s1h29" type="text" name="system.attributes.climate" value="{{system.attributes.climate}}" data-dtype="String" />
					<h3 class="resource-label s1h4">GLOBAL FEATURE</h3>
					<input class="textbox s1h29" type="text" name="system.attributes.globalfeature" value="{{system.attributes.globalfeature}}" data-dtype="String" />
					<h3 class="resource-label s1h4">ORBITAL PERIOD</h3>
					<input class="textbox s1h29" type="text" name="system.attributes.orbitalperiod" value="{{system.attributes.orbitalperiod}}" data-dtype="String" />
					<h3 class="resource-label s1h4">PLANETARY PERSONALITY</h3>
					<input class="textbox s1h29" type="text" name="system.attributes.personality" value="{{system.attributes.personality}}" data-dtype="String" />

					<h3 class="resource-label s1h4">NORTH POLE</h3>
					<input class="textbox s1h29" type="text" name="system.attributes.northpole" value="{{system.attributes.northpole}}" data-dtype="String" />
					<h3 class="resource-label">RESOURCE POTENTIAL</h3>
					<input class="gCol10" name="system.attributes.rpnorthpole" type="checkbox" {{checked system.attributes.rpnorthpole}} />

					<h3 class="resource-label s1h4">EQUATOR</h3>
					<input class="textbox s1h29" type="text" name="system.attributes.equator" value="{{system.attributes.equator}}" data-dtype="String" />
					<h3 class="resource-label">RESOURCE POTENTIAL</h3>
					<input class="gCol10 NPC" name="system.attributes.rpequator" type="checkbox" {{checked system.attributes.rpequator}} />

					<h3 class="resource-label s1h4">SOUTH POLE</h3>
					<input class="textbox s1h29" type="text" name="system.attributes.southpole" value="{{system.attributes.southpole}}" data-dtype="String" />
					<h3 class="resource-label">RESOURCE POTENTIAL</h3>
					<input class="gCol10 NPC" name="system.attributes.rpsouthpole" type="checkbox" {{checked system.attributes.rpsouthpole}} />

					<h3 class="resource-label s1h4">NORTHERN HEMISPHERE WEST</h3>
					<input class="textbox s1h29" type="text" name="system.attributes.nhwest" value="{{system.attributes.nhwest}}" data-dtype="String" />
					<h3 class="resource-label">RESOURCE POTENTIAL</h3>
					<input class="gCol10 NPC" name="system.attributes.rpnhwest" type="checkbox" {{checked system.attributes.rpnhwest}} />

					<h3 class="resource-label s1h4">SOUTHERN HEMISPHERE WEST</h3>
					<input class="textbox s1h29" type="text" name="system.attributes.shwest" value="{{system.attributes.shwest}}" data-dtype="String" />
					<h3 class="resource-label">RESOURCE POTENTIAL</h3>
					<input class="gCol10 NPC" name="system.attributes.rpshwest" type="checkbox" {{checked system.attributes.rpshwest}} />

					<h3 class="resource-label s1h4">NORTHERN HEMISPHERE EAST</h3>
					<input class="textbox s1h29" type="text" name="system.attributes.nheast" value="{{system.attributes.nheast}}" data-dtype="String" />
					<h3 class="resource-label">RESOURCE POTENTIAL</h3>
					<input class="gCol10 NPC" name="system.attributes.rpnheast" type="checkbox" {{checked system.attributes.rpnheast}} />

					<h3 class="resource-label s1h4">SOUTHERN HEMISPHERE EAST</h3>
					<input class="textbox s1h29" type="text" name="system.attributes.sheast" value="{{system.attributes.sheast}}" data-dtype="String" />
					<h3 class="resource-label">RESOURCE POTENTIAL</h3>
					<input class="gCol10 NPC" name="system.attributes.rpsheast" type="checkbox" {{checked system.attributes.rpsheast}} />
				</div>
			</div>
		</div>

		{{!-- Biography Tab --}}
		<div class="tab biog-full" data-group="primary" data-tab="description">
			{{editor system.notes target="system.notes" button=true owner=owner editable=true}}
		</div>
	</section>
</form>
