<header class="vehicle-header">
  <div class="header-fields">
    <h1 class='charname'><input name='name' type='text' value='{{actor.name}}' placeholder='{{localize "ALIENRPG.Name"}}' /></h1>
  </div>
</header>