<section class='tab spacecraftimage scrollable {{tab.cssClass}}' data-group='primary' data-tab='spacecraftimage'>
	{{!-- Image Tab --}}
	<div class="image" style="justify-self:center">
		<img src="{{actor.img}}" data-edit="img" title="{{actor.img}}" />
	</div>
</section>