<form class="{{cssClass}}" autocomplete="off">
	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="general">{{localize "ALIENRPG.General"}}</a>
		<a class="item" data-tab="inventory">{{localize "ALIENRPG.MODULES-UPGRADES"}}</a>
		<a class="item" data-tab="image">{{localize "ALIENRPG.Image"}}</a>
		<a class="item" data-tab="combatphases">{{localize "ALIENRPG.SpaceCombatPhases"}}</a>
		<a class="item" data-tab="description">{{localize "ALIENRPG.Description"}}</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body" style="margin-top: 10px">
		{{!--General Tab --}}
		<div class="tab general" data-group="primary" data-tab="general">
			<div class="grid-spacecraft">
				<!-- Col1 -->
				<div class="spacec1">
					<div class="s1-header">
						<h1 class="resource-label s1h1">{{localize "ALIENRPG.Name"}}</h1>
						<h1 class="charname s1h2"><input name="name" type="text" value="{{actor.name}}" /></h1>

						<h3 class="resource-label s1h3">{{localize "ALIENRPG.MODEL"}}</h3>
						<input class="textbox s1h28" type="text" name="system.attributes.model" value="{{system.attributes.model}}" data-dtype="String" />

						<h3 class="resource-label s1h4">{{localize "ALIENRPG.Manufacturer"}}</h3>
						<input class="textbox s1h29" type="text" name="system.attributes.manufacturer" value="{{system.attributes.manufacturer}}" data-dtype="String" />

						<h3 class="resource-label s1h30">{{localize "ALIENRPG.MODULES"}}</h3>
						<input class="textbox s1h32" type="text" name="system.attributes.modules" value="{{system.attributes.modules}}" data-dtype="String" />

						<h3 class="resource-label s1h31">{{localize "ALIENRPG.ARMAMENTS"}}</h3>
						<input class="textbox s1h33" type="text" name="system.attributes.armaments" value="{{system.attributes.armaments}}" data-dtype="String" />

						<h3 class="resource-label s1h5">{{localize "ALIENRPG.AI"}}</h3>
						<input class="textbox s1h6" type="text" name="system.attributes.ai" value="{{system.attributes.ai}}" data-dtype="String" />

						<label class="s1h8" data-attr="attribute" data-roll="{{system.attributes.crew.value}}" data-mod="{{system.attributes.crew.mod}}"
							>{{localize "ALIENRPG.CREW"}}</label
						>
						<input type="text" class="maxboxsize s1h7" name="system.attributes.crew.value" value="{{system.attributes.crew.value}}" data-dtype="Number" />

						<label class="s1h9" data-attr="attribute" data-roll="{{system.attributes.passengers.value}}" data-mod="{{system.attributes.passengers.mod}}"
							>{{localize "ALIENRPG.PASSENGERS"}}</label
						>
						<input
							type="text"
							class="maxboxsize s1h10"
							style="max-width: 55px"
							name="system.attributes.passengers.value"
							value="{{system.attributes.passengers.value}}"
							data-dtype="Number"
						/>

						<label class="s1h12" data-attr="attribute" data-roll="{{system.attributes.length.value}}" data-mod="{{system.attributes.length.mod}}"
							>{{localize "ALIENRPG.LENGTH"}}</label
						>
						<input
							type="text"
							class="maxboxsize s1h11"
							style="max-width: 55px; margin-left: -2px"
							name="system.attributes.length.value"
							value="{{system.attributes.length.value}}"
							data-dtype="Number"
						/>

						<label class="s1h13" data-attr="attribute" data-roll="{{system.attributes.ftlrating.value}}" data-mod="{{system.attributes.ftlrating.mod}}"
							>{{localize "ALIENRPG.FTL-RATING"}}</label
						>
						<input
							type="text"
							class="maxboxsize s1h14"
							name="system.attributes.ftlrating.value"
							value="{{system.attributes.ftlrating.value}}"
							data-dtype="Number"
						/>

						<label class="s1h16" data-attr="attribute" data-roll="{{system.attributes.signature.value}}" data-mod="{{system.attributes.signature.mod}}"
							>{{localize "ALIENRPG.SIGNATURE"}}</label
						>
						<input
							type="text"
							class="maxboxsize s1h15"
							name="system.attributes.signature.value"
							value="{{system.attributes.signature.value}}"
							data-dtype="Number"
						/>

						<label class="s1h17" data-attr="attribute" data-roll="{{system.attributes.thrusters.value}}" data-mod="{{system.attributes.thrusters.mod}}"
							>{{localize "ALIENRPG.THRUSTERS"}}</label
						>
						<input
							type="text"
							class="maxboxsize s1h18"
							name="system.attributes.thrusters.value"
							value="{{system.attributes.thrusters.value}}"
							data-dtype="Number"
						/>

						<label class="s1h20" data-attr="attribute" data-roll="{{system.attributes.hull.value}}" data-mod="{{system.attributes.hull.mod}}"
							>{{localize "ALIENRPG.HULL"}}</label
						>
						<input type="text" class="maxboxsize s1h19" name="system.attributes.hull.value" value="{{system.attributes.hull.value}}" data-dtype="Number" />

						<label class="s1h21 rollable" data-roll="{{system.attributes.armor.value}}" data-spbutt="armor" data-label="{{ localize 'ALIENRPG.Armor'}}"
							>{{localize "ALIENRPG.SHIP-ARMOR"}}</label
						>
						<input type="text" class="maxboxsize s1h22" name="system.attributes.armor.value" value="{{system.attributes.armor.value}}" data-dtype="Number" />

						<label class="s1h23" style="font-weight: bold">{{localize "ALIENRPG.LEASE-COST"}}</label>
						<input
							type="text"
							class="cashboxsize currency s1h24"
							style="max-width: 200px; margin-bottom: 5px"
							name="system.attributes.leasecost.value"
							value="{{system.attributes.leasecost.value}}"
						/>

						<label class="s1h25" style="font-weight: bold">{{ localize "ALIENRPG.DAMAGE"}}</label>
						<div class="newdots click-damage-level s1h26" style="height: 29px">
							{{#times system.DAMcurrent}}
							<i class="far fa-dot-circle"></i>
							{{/times}} {{#times system.DAMlost}}
							<i class="far fa-circle"></i>
							{{/times}}
						</div>
					</div>
					<div class="box-top" style="overflow: auto">{{> "systems/alienrpg/templates/actor/tabs/sCraft-minor-crit.html" }}</div>
					<div style="overflow: auto">{{> "systems/alienrpg/templates/actor/tabs/sCraft-major-crit.html" }}</div>
				</div>
				<div class="spacec2">
					<h1>{{localize "ALIENRPG.CREW"}}</h1>
					<div>{{> "systems/alienrpg/templates/actor/tabs/spacecraft-crew.html" sections=inventory}}</div>
					<div class="box-top" style="margin-top: 40px">
						<h1>{{localize "ALIENRPG.ARMAMENTS"}}</h1>
						<div>{{> "systems/alienrpg/templates/actor/tabs/spacecraft-armaments.html" sections=inventory}}</div>
					</div>
				</div>
			</div>
		</div>

		{{!-- Biography Tab --}}
		<div class="tab biog-full" data-group="primary" data-tab="description">
			{{editor system.notes target="system.notes" button=true owner=owner editable=true}}
		</div>

		{{!-- Owned Items Tab --}}
		<!-- INVENTORY -->
		<div class="tab inventory" style="margin-left: 135px; margin-right: 207px" data-group="primary" data-tab="inventory">
			{{> "systems/alienrpg/templates/actor/tabs/spacecraft-inventory.html" sections=inventory}}
		</div>

		<!-- Space Combat Phases -->
		<div class="tab combatphases" data-group="primary" data-tab="combatphases">
			{{> "systems/alienrpg/templates/actor/tabs/spacecraft-combat-phases.html" sections=combatphases}}
		</div>

		{{!-- Image Tab --}}
		<div class="tab image" style="text-align: center" data-tab="image">
			<img src="{{actor.img}}" data-edit="img" title="{{actor.img}}" />
		</div>
	</section>
</form>
