<section class='tab spacecraftimage scrollable {{tab.cssClass}}' data-group='primary' data-tab='spacecraftimage'>
	{{!-- Image Tab --}}
	<div class="image" style="justify-self:center">
		<img src="{{actor.img}}" title="{{actor.img}}" data-edit='img' data-action='onEditImage' />
	</div>
</section>