<form class="{{cssClass}}" autocomplete="off">
	{{!-- Sheet Header --}}
	<header class="vehicle-header">
		<img class="profile-img-vehicle" src="{{actor.img}}" data-edit="img" title="{{actor.img}}" height="100" width="100" />
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'ALIENRPG.Name'}}" /></h1>

			<div class="resources grid-vehicle">
				<h2 class="vItem1">{{ localize 'ALIENRPG.Hull'}}</h2>
				<div class="resource-label">
					<input type="text" class="maxboxsize vItem2" name="system.attributes.hull.value" value="{{system.attributes.hull.value}}" data-dtype="Number" />
					<label class="box23"> / </label>
					<input type="text" class="maxboxsize" name="system.attributes.hull.max" value="{{system.attributes.hull.max}}" data-dtype="Number" />
				</div>
				<h2 class="vItem3 rollableVeh" data-roll="{{system.attributes.armorrating.value}}" data-label="{{localize 'ALIENRPG.ArmorRating'}}" data-spbutt="armor">
					{{localize 'ALIENRPG.ArmorRating'}}
				</h2>
				<div class="resource-label">
					<input
						type="text"
						class="maxboxsize vItem4"
						name="system.attributes.armorrating.value"
						value="{{system.attributes.armorrating.value}}"
						data-dtype="Number"
					/>
				</div>
				<h2 class="vItem5">{{localize 'ALIENRPG.Speed'}}</h2>
				<div class="resource-label">
					<input type="text" class="maxboxsize vItem6" name="system.attributes.speed.value" value="{{system.attributes.speed.value}}" data-dtype="Number" />
				</div>
				<h2 class="vItem7">{{localize 'ALIENRPG.Manoeuvrability'}}</h2>
				<div class="resource-label">
					<input
						type="text"
						class="maxboxsize vItem8"
						name="system.attributes.manoeuvrability.value"
						value="{{system.attributes.manoeuvrability.value}}"
						data-dtype="Number"
					/>
				</div>
			</div>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="general">{{localize 'ALIENRPG.General'}}</a>
		<a class="item" data-tab="inventory">{{localize 'ALIENRPG.Inventory'}}</a>
		<a class="item" data-tab="crew">{{localize 'ALIENRPG.Crew'}}</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		<div class="tab attributes" data-group="primary" data-tab="general">
			<label class="resource-label">{{localize 'ALIENRPG.Passengers'}}</label>
			<input type="text" class="maxboxsize" name="system.attributes.passengers.value" value="{{system.attributes.passengers.value}}" data-dtype="Number" />

			<label class="resource-label">{{localize 'ALIENRPG.Cost'}}</label>
			<input type="text" class="cashboxsize currency" name="system.attributes.cost.value" value="{{system.attributes.cost.value}}" />
			<br />
			<h3 class="resource-label">{{localize 'ALIENRPG.Description'}}</h3>
			<textarea name="system.attributes.comment.value" rows="18" data-dtype="String">{{system.attributes.comment.value}}</textarea>
		</div>

		<div class="tab crew" data-group="primary" data-tab="crew">
			<div>{{> "systems/alienrpg/templates/actor/tabs/spacecraft-crew.html" sections=inventory}}</div>
		</div>

		{{!-- Owned Items Tab --}}
		<!-- INVENTORY -->
		<div class="tab inventory" data-group="primary" data-tab="inventory">
			{{> "systems/alienrpg/templates/actor/tabs/vehicle-inventory.html" sections=inventory}}
		</div>
	</section>
</form>
