<form class="{{cssClass}}" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="vehicle-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.img}}" height="100" width="100" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "ALIENRPG.Name"}}" /></h1>

      <div class="resources grid-vehicle">
        <h2 class="vItem1">{{ localize "ALIENRPG.Hull"}}</h2>
        <div class="resource-label">
          <input type="text" class="maxboxsize vItem2" name="data.attributes.hull.value" value="{{data.attributes.hull.value}}" data-dtype="Number" />
        </div>
        <h2 class="vItem3">{{localize "ALIENRPG.ArmorRating"}}</h2>
        <div class="resource-label">
          <input type="text" class="maxboxsize vItem4" name="data.attributes.armorrating.value" value="{{data.attributes.armorrating.value}}" data-dtype="Number" />
        </div>
        <h2 class="vItem5">{{localize "ALIENRPG.Speed"}}</h2>
        <div class="resource-label">
          <input type="text" class="maxboxsize vItem6" name="data.attributes.speed.value" value="{{data.attributes.speed.value}}" data-dtype="Number" />
        </div>
        <h2 class="vItem7">{{localize "ALIENRPG.Manoeuvrability"}}</h2>
        <div class="resource-label">
          <input type="text" class="maxboxsize vItem8" name="data.attributes.manoeuvrability.value" value="{{data.attributes.manoeuvrability.value}}" data-dtype="Number" />
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="general">{{localize "ALIENRPG.General"}}</a>
    <a class="item" data-tab="inventory">{{localize "ALIENRPG.Inventory"}}</a>
    <a class="item" data-tab="crew">{{localize "ALIENRPG.Crew"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="tab attributes" data-group="primary" data-tab="general">
      <label class="resource-label">{{localize "ALIENRPG.Passengers"}}</label>
      <input type="text" class="maxboxsize" name="data.attributes.passengers.value" value="{{data.attributes.passengers.value}}" data-dtype="Number" />

      <label class="resource-label">{{localize "ALIENRPG.Cost"}}</label>
      <input type="text" class="cashboxsize currency" name="data.attributes.cost.value" value="{{data.attributes.cost.value}}" />
      <br />
      <h3 class="resource-label">{{localize "ALIENRPG.Description"}}</h3>
      <textarea name="data.attributes.comment.value" rows="14" data-dtype="String">{{data.attributes.comment.value}}</textarea>
    </div>

    <div class="tab crew" data-group="primary" data-tab="crew">
      <h2 class="resource-label">{{localize "ALIENRPG.Crew"}}</h2>
      <div class="grid-4col">
        <div class="modifiers">
          <label class="resource-label">{{localize "ALIENRPG.GunnerName"}}</label>
          <input type="text" class="textbox3" name="data.modifiers.gunnerName" value="{{data.modifiers.gunnerName}}" data-dtype="text" />
          <label class="resource-label">{{localize "ALIENRPG.SkillRangedCbt"}}</label>
          <input type="text" class="maxboxsize" name="data.modifiers.rangedCbt.value" value="{{data.modifiers.rangedCbt.value}}" data-dtype="Number" />
          <br />
          <label class="resource-label">{{localize "ALIENRPG.PilotName"}}</label>
          <input type="text" class="textbox3" name="data.modifiers.pilotName" value="{{data.modifiers.pilotName}}" data-dtype="text" />
          <label class="resource-label">{{localize "ALIENRPG.SkillPiloting"}}</label>
          <input type="text" class="maxboxsize" name="data.modifiers.piloting.value" value="{{data.modifiers.piloting.value}}" data-dtype="Number" />
        </div>
      </div>
    </div>

    {{!-- Owned Items Tab --}}
    <!-- INVENTORY -->
    <div class="tab inventory" data-group="primary" data-tab="inventory">{{> "systems/alienrpg/templates/actor/tabs/vehicle-inventory.html" sections=inventory}}</div>
  </section>
</form>
