<div class="chatBG">
  <h2 style="color:  #fff">{{localize "ALIENRPG.Rolled"}} {{localize "ALIENRPG.CriticalInjuryfor"}}: </h2>
  <h2 style="color: #03cf03;">{{actorname}}</strong></h2>
</div>
<div class="chatBG critchat flexrow">
  <img src="{{img}}" style="flex: 0 0 32px; width: 32px; height: 32px; margin-right: 8px; object-fit: cover" />
  <div style="margin: 0; padding: 0; line-height: 16px">
    <h4><strong style="text-transform: uppercase;">{{localize "ALIENRPG.Injury"}}:</strong>
      <span style="color: #fff; font-size: unset; font-weight: normal">{{name}}</span>
    </h4>
    <h4><strong style="text-transform: uppercase;">{{localize "ALIENRPG.Effect"}}:</strong> <span style="color: #fff; font-size: unset; font-weight: normal">{{{effects}}}</span></h4>
  </div>
</div>