<div class="chatBG">
    <h2 style="color:  #fff">Rolled Critical Injury for: </h2>
      <h2 style="color: #03cf03;">{{actorname}}</strong></h2>
</div>
<div class="chatBG critchat flexrow">
  <img src="{{img}}" style="flex: 0 0 32px; width: 32px; height: 32px; margin-right: 8px; object-fit: cover" />
  <div style="margin: 0; padding: 0; line-height: 16px">
       <h4>INJURY: 
      <span style="color: #fff; font-size: unset; font-weight: normal">{{name}}</span>
    </h4>
    <h4><strong>FATAL:</strong> <span style="color: #fff; font-size: unset; font-weight: normal">{{fatal}}</span></h4>
    <h4><strong>TIME LIMIT:</strong> <span style="color: #fff; font-size: unset; font-weight: normal">{{timelimit}}</span></h4>
    <h4><strong>HEALING TIME:</strong> <span style="color: #fff; font-size: unset; font-weight: normal">{{healingtime}}</span></h4>
    <h4><strong>EFFECT:</strong> <span style="color: #fff; font-size: unset; font-weight: normal">{{{effects}}}</span></h4>
  </div>
</div>
