@use '../utils/colors';

.item-form {
	font-family: var(--alienfont);
	background: var(--black);
}

.actor-header {
	flex: 0 0 180px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-bottom: 1px;
	background-color: var(--black);
	//  color: $c-green;
}

header.vehicle-header {
	overflow: hidden;
	display: flex;
	margin-bottom: 1px;
	background-color: var(--black);
	//  color: $c-green;
}

.profile-img {
	flex: 0 0 100px;
	height: 150px;
	// margin-right: 10px;
	width: auto;
}
.profile-img-item {
	flex: 0 0 100px;
	height: 100px;
	margin-right: 10px;
	width: 100%;
	justify-self: center;
}
.profile-img-vehicle {
	flex: 0 0 100px;
	height: 160px;
	margin-right: 10px;
	width: 300px;
}

.header-fields {
	flex: 1;
}

span.charname {
	display: block;
	height: 50px;
	border-bottom: 0;
	border: 1px solid var(--aliengreen);
	align-content: center;
	input {
		font-family: var(--alienfont);
		font-size: 2.1em;
		color: var(--aliengreen);
		height: 50px;
	}
}

.sheet-body,
.tab {
	background-color: var(--black);
}

.sheet-body .editor {
	height: 100%; //  Do not change this or notes will stop working
	background-color: var(--black);
}

.tox {
	.tox-editor-container {
		background: var(--white);
	}

	.tox-edit-area {
		padding: 0 8px;
	}
}
.maxboxsize {
	max-width: 40px;
	color: var(--aliengreen);
	background-color: var(--black);
	height: 20px;
	padding: 0;
	margin: 1px;
	text-align: center;
	border: 1px solid var(--aliengreen);
}
.healboxsize {
	max-width: 80px;
	color: var(--aliengreen);
	background-color: var(--black);
	height: 20px;
	padding: 0;
	margin: 1px;
	text-align: center;
	border: 1px solid var(--aliengreen);
}
.cashboxsize {
	max-width: 150px;
	color: var(--aliengreen);
	justify-items: center;
	background-color: var(--black);
	text-align: center;
	border: 1px solid var(--aliengreen);
}

.textbox {
	color: var(--aliengreen);
	// justify-items: center;
	background-color: var(--black);
	padding: 5px;
	margin: 5px 5px 5px 5px;
	border: 1px solid var(--aliengreen);

	// width: 180px;
}
.textbox1 {
	color: var(--aliengreen);
	justify-items: center;
	background-color: var(--black);
	width: 230px;
	padding: 0;
	margin-top: 1px;
	margin-bottom: 1px;
	border: 1px solid var(--aliengreen);
}
.textbox2 {
	color: var(--aliengreen);
	justify-items: center;
	background-color: var(--black);
	width: 400px;
	padding: 0;
	margin-top: 1px;
	margin-bottom: 1px;
	border: 1px solid var(--aliengreen);
}
.textbox3 {
	color: var(--aliengreen);
	// justify-items: center;
	background-color: var(--black);
	padding: 5px;
	margin: 5px 5px 5px 5px;
	width: 180px;
	border: 1px solid var(--aliengreen);
}
.textbox4 {
	color: var(--aliengreen);
	justify-items: center;
	background-color: var(--black);
	width: 385px;
	padding: 0;
	margin-top: 1px;
	margin-bottom: 1px;
	border: 1px solid var(--aliengreen);
}

textarea {
	resize: none;
	padding: 2px;
	color: var(--aliengreen);
	border: 1px solid var(--aliengreen);
	font-family: var(--alienfont);
	width: -webkit-fill-available;
	font-size: var(--fontsize);
}

form .sheet-content .click-stat-level {
	height: 18px;
	padding: 8px;
	background: var(--black);
	border-radius: 2px;
	box-shadow: inset 0 0 0 1px var(--black);
	font-family: 'Roboto', system, -apple-system, sans-serif;
	font-size: 10px;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 0.25px;
	//  color: $c-green;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.click-stat-level .fas {
	display: none;
	padding: 2px 4px;
	border-radius: 2px;
	box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.5);
	font-family: 'Roboto', system, -apple-system, sans-serif;
	font-size: 10px;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 0.25px;
	//  color: $c-green;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.dots {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	//  color: $c-green;
	margin-right: 8px;
	font-weight: 700;
	font-size: 15px;
	flex-wrap: wrap;
}

.newdots {
	cursor: pointer;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.planetboxsize {
	max-width: 40px;
	color: var(--aliengreen);
	height: 20px;
	padding: 0;
	margin: 1px;
	text-align: center;
	border: 1px solid var(--aliengreen);
}

.colony-planet1 {
	max-width: 190px;
	margin: -5px 0px 0px -3px;
	height: max-content;
	color: var(--color-text-dark-primary);
	border-radius: 0px;
	border: 1px solid var(--aliengreen);
}
.colony-planet2 {
	max-width: 250px;
	// margin: -10px 0px 0px -14px;
	height: max-content;
	color: var(--color-text-dark-primary);
	border-radius: 0px;
	/* border: 1px solid var(--aliengreen); */
}

h1.charname {
	height: 50px;
	padding: 0px;
	margin: 0 5px 5px 5px;
	border-bottom: 0;
	border: 1px solid var(--aliengreen);
	color: var(--aliengreen);
	font-family: var(--alienfont);
	font-size: 2.1em;

	input {
		width: 100%;
		height: 100%;
		margin: 0;
		color: inherit;
		border: 1px solid var(--aliengreen);
	}
}
.status-control {
	border: 1px solid var(--aliengreen);
	margin-left: 5px;
	color: var(--aliengreen);
	font-size: 1.2em;
	font-family: var(--alienfont);
	&.active {
		outline-width: 2px;
		border-width: 0;
		background-color: red;
		font-weight: bold;
		color: var(--alienitemselect);
	}
}
