.item-form {
  font-family: var(--alienfont);
  background: $c-black;
}

.actor-header {
  flex: 0 0 180px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 1px;
  background-color: $c-black;
  //  color: $c-green;
}

.vehicle-header {
  overflow: hidden;
  display: flex;
  margin-bottom: 1px;
  background-color: $c-black;
  //  color: $c-green;
}

.profile-img {
  flex: 0 0 100px;
  height: 150px;
  // margin-right: 10px;
  width: auto;
}
.profile-img-item {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
  width: 150px;
}

.header-fields {
  flex: 1;
}

h1.charname {
  height: 50px;
  padding: 0px;
  margin: 0 5px 5px 5px;
  border-bottom: 0;
  input {
    width: 100%;
    height: 100%;
    margin: 0;
    color: inherit;
  }
}

.sheet-tabs {
  flex: 0;
  //  color: $c-green;
}

.alienrpg .sheet-body,
.tab,
.editor {
  height: 100%; //  Do not change this or notes will stop working
  background-color: $c-black;
  //  color: $c-green;
  // overflow: hidden;
}

.tox {
  .tox-editor-container {
    background: $c-white;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}
.maxboxsize {
  max-width: 40px;
  color: inherit;
  background-color: $c-black;
  height: 20px;
  padding: 0;
  margin: 1px;
  text-align: center;
}
.cashboxsize {
  max-width: 150px;
  color: inherit;
  justify-items: center;
  background-color: $c-black;
  text-align: center;
}

.textbox {
  color: inherit;
  justify-items: center;
  background-color: $c-black;
  width: 180px;
}
.textbox1 {
  color: inherit;
  justify-items: center;
  background-color: $c-black;
  width: 200px;
  padding: 0;
  margin-top: 1px;
  margin-bottom: 1px;
}
.textbox2 {
  color: inherit;
  justify-items: center;
  background-color: $c-black;
  width: 400px;
  padding: 0;
  margin-top: 1px;
  margin-bottom: 1px;
}

textarea {
  resize: none;
  padding: 2;
  // color: $c-green;
  color: inherit;
  border: 1px solid var(--aliengreen);
}

form .sheet-content .click-stat-level {
  height: 18px;
  padding: 8px;
  background: black;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
  font-family: 'Roboto', system, -apple-system, sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  //  color: $c-green;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.click-stat-level .fas {
  display: none;
  padding: 2px 4px;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
  font-family: 'Roboto', system, -apple-system, sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  //  color: $c-green;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.dots {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  //  color: $c-green;
  margin-right: 8px;
  font-weight: 700;
  font-size: 15px;
}
