.item-form {
  font-family: $font-primary;
  background: $c-black;
}

.sheet-header {
  flex: 0 0 180px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 1px;
  background-color: $c-black;
  color: $c-green;
}
.vehicle-header {
  flex: 0 0 130px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 1px;
  background-color: $c-black;
  color: $c-green;
}

.profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.header-fields {
  flex: 1;
}

h1.charname {
  height: 50px;
  padding: 0px;
  margin: 0 5px 5px 5px;
  border-bottom: 0;
  input {
    width: 100%;
    height: 100%;
    margin: 0;
    color: $c-green;
  }
}

.sheet-tabs {
  flex: 0;
  // background-color: rgb(56, 55, 55);
  color: $c-green;
}

.alienrpg .sheet-body,
.tab,
.editor {
  height: 100%; //  Do not change this or notes will stop working
  background-color: $c-black;
  color: $c-green;
  overflow: hidden;
}

.tox {
  .tox-editor-container {
    background: $c-white;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}
.maxboxsize {
  max-width: 35px;
  color: $c-green;
  background-color: $c-black;
  height: 20px;
  padding: 0;
  margin: 0;
  text-align: center;
}
.cashboxsize {
  max-width: 150px;
  color: $c-green;
  justify-items: center;
  background-color: $c-black;
  text-align: center;
}

.textbox {
  color: $c-green;
  justify-items: center;
  background-color: $c-black;
}

input {
  width: 200px;
  // height: 20%;
  margin: 4px;
  color: $c-green;
  font-family: monospace;
}

.ability-mod {
  color: $c-green;
}

.selectBox {
  color: $c-green;

  select {
    // background-color: grey;
    color: $c-green;
    background-color: $c-black;
    font-size: 15px;
  }
}
textarea {
  resize: none;
  width: 98%;
  padding: 0;
  color: $c-green;
  margin: 4px;
  border: 1px solid $c-green;
}

form .sheet-content .click-stat-level {
  height: 18px;
  padding: 8px;
  background: black;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
  font-family: 'Roboto', system, -apple-system, sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  color: $c-green;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.click-stat-level .fas {
  display: none;
  padding: 2px 4px;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
  font-family: 'Roboto', system, -apple-system, sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  color: $c-green;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.dots {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  color: $c-green;
  margin-right: 8px;
  font-weight: 700;
  font-size: 15px;
}

//   Inventory stuff from PF2e

.inventory-list .item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  line-height: 24px;
  padding: 0;
  border-bottom: 1px solid grey;
  /* Item Dropdown Summary */
}

.inventory-list .item > * {
  flex: 1;
}

.inventory-list .item .item-name,
.inventory-list .item .melee-name {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  cursor: pointer;
}

.inventory-list .item .feat-name {
  /* display: flex; */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  cursor: pointer;
}

/* .inventory-list .item .item-name > * {
  flex: 1;
} */
.inventory-list .item .item-name .item-image,
.inventory-list .item .melee-name .item-image {
  flex: 0 0 24px;
  margin-right: 6px;
  background-size: 24px;
  background-repeat: no-repeat;
}

.inventory-list .item .item-name h4,
.inventory-list .item .melee-name h4 {
  flex: 2;
  margin: 0;
}

.inventory-list .item .item-name .prepared {
  color: #666;
  margin-left: 3px;
  font-size: 10px;
}

.inventory-list .item .item-name .item-charges {
  color: #666;
  font-size: 12px;
  flex: 0;
}

.inventory-list .item .item-name:hover .item-image {
  background-image: url('/icons/svg/d20-grey.svg') !important;
}

.inventory-list .item .item-name .item-image:hover {
  background-image: url('/icons/svg/d20-black.svg') !important;
}

.inventory-list .item .item-quantity,
.inventory-list .item .item-weight {
  flex: 0 0 32px;
  font-size: 12px;
  color: #666;
  text-align: center;
  border-right: 1px solid grey;
}

.inventory-list .item .item-controls {
  flex: 0 0 66px;
}

.inventory-list .item .item-controls a,
.item.action-header .item-controls a {
  display: block;
  float: left;
  width: 22px;
  font-size: 10px;
  text-align: center;
  color: #666;
}

.inventory-list .item .item-controls a.item-toggle-equip {
  color: #aaa;
}

.inventory-list .item .item-controls a.item-toggle-equip.active {
  color: #666;
}

.inventory-list .item .item-summary {
  flex: 0 0 100%;
  font-size: 12px;
  line-height: 16px;
  padding: 0.25em 0.5em;
  border-top: 1px solid grey;
}

.inventory-list .action-header h3 {
  font-size: 24px;
  margin: 0;
  padding-left: 32px;
  text-align: center;
  /* font-weight: bold; */
}

.action-header .item-controls a.item-create,
.action-header .item-controls a.item-delete,
.action-header .item-controls a.feat-browse,
.action-header .item-controls a.action-browse,
.inventory-header .item-controls a.inventory-browse {
  width: 100%;
  color: #fff;
  background: var(rgb(69, 74, 124));
}

.inventory-list .inventory-header {
  font-weight: 700;
  line-height: 20px;
  /* background: rgba(0, 0, 0, 0.05); */
  background: var(rgb(69, 74, 124));
}

.inventory-list .inventory-header.sub-category {
  font-weight: 700;
  line-height: 20px;
  /* background: rgba(0, 0, 0, 0.05); */
  background: grey;
}

.inventory-list .inventory-header h3 {
  font-size: 1em;
  margin: 0;
  padding-left: 5px;
  font-weight: bold;
}

.inventory-list .inventory-header .item-quantity,
.inventory-list .inventory-header .item-weight {
  color: white;
}

.inventory-list .inventory-header .item-controls a.item-create {
  width: 100%;
  color: white;
}

.inventory-list .inventory-header .item-controls a.spell-create,
.inventory-list .inventory-header .item-controls a.spell-browse {
  /* width: 100%; */
  color: white;
}

.inventory-list .inventory-header > * {
  color: white;
}

.alienrpg.character-sheet .inventory-list {
  height: calc(100% - 42px);
  /* height: 100%; */
}
