.items-list {
	list-style: none;
	// margin: 7px 0;

	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	// overflow-y: auto;
}
.item-header {
	// font-weight: bold;
	background-color: hsl(0, 5%, 16%);
}

.item-name {
	margin: 0;
}

.item-controls {
	text-align: right;
}

.item-label {
	// font-weight: bold;
	font-family: var(--alienfont);
	font-size: small;
	text-transform: uppercase;
	padding-right: 5px;
	padding-left: 5px;
	//  color: $c-green;
	// flex: auto;
}

//   This calls needs tobe used for the editorbox on actor templates without flexcol.
.biog {
	// line-height: 24px;
	height: 570px;
	// height: 600px;
	padding: 3px 0;
	width: 1fr;
	// border-bottom: 1px solid #bbb;
	font-family: var(--alienfont);

	.biog-image {
		flex: 0 0 24px;
		margin-right: 5px;
	}
	.editor-content {
		// width: 550px;
		word-wrap: break-word;
		//  color: $c-green;
		font-family: var(--alienfont);
	}

	img {
		display: block;
	}
}
//   This calls needs tobe used for the editorbox on actor templates without flexcol.
.biog-full {
	// line-height: 24px;
	height: 400px;
	padding: 3px 0;
	width: 1fr;
	// border-bottom: 1px solid #bbb;
	font-family: var(--alienfont);

	.biog-image {
		flex: 0 0 24px;
		margin-right: 5px;
	}
	.editor-content {
		// width: 550px;
		word-wrap: break-word;
		//  color: $c-green;
		font-family: var(--alienfont);
	}

	img {
		display: block;
	}
}
