.items-list {
  list-style: none;
  // margin: 7px 0;

  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  // overflow-y: auto;
}
.item-header {
  // font-weight: bold;
  background-color: rgb(44, 40, 40);
}

.item-name {
  margin: 0;
}

.item-controls {
  text-align: right;
}

.item-label {
  // font-weight: bold;
  font-family: $font-primary;
  font-size: small;
  text-transform: uppercase;
  padding-right: 5px;
  padding-left: 5px;
  color: $c-green;
  // flex: auto;
}

//   This calls needs tobe used for the editorbox on actor templates without flexcol.
.biog {
  // line-height: 24px;
  height: 300px;
  padding: 3px 0;
  width: 1fr;
  // border-bottom: 1px solid #bbb;
  font-family: $font-primary;

  .biog-image {
    flex: 0 0 24px;
    margin-right: 5px;
  }
  .editor-content {
    width: 550px;
    word-wrap: break-word;
    color: $c-green;
    font-family: $font-primary;
  }

  img {
    display: block;
  }
}
