.resource-label {
	font-family: var(--alienfont);
	text-transform: uppercase;
	/* padding-right: 5px; */
	padding-left: 5px;
	justify-self: center;
	flex: auto;
}
.resource-label.nocenter {
	justify-self: unset;
}

.resource-content {
	button {
		flex: 0;
		border: 0;
		width: 30px;
		padding: 0;
		color: var(--aliengreen);
		margin: 0;
	}
}

.speciality-label {
	// font-weight: bold;
	font-family: var(--alienfont);
	text-transform: uppercase;
	// padding-right: 5px;
	padding-left: 5px;
	//  color: $c-green;
	justify-self: left;
	flex: auto;
}

.attr-label {
	font-weight: bold;
	text-transform: uppercase;
	padding-right: 5px;
	//  color: $c-green;
	// justify-self: center;
}
