.tabs {
	height: 30px;
	// border-top: 1px solid var(--aliengreen);
	// border-bottom: 1px solid var(--aliengreen);
	color: inherit;
	background-color: $c-black;
	border: 1px solid;

	.item {
		// line-height: 30px;
		font-weight: bold;
		color: inherit;
	}

	.item.active {
		text-decoration: underline;
		text-shadow: none;
	}
}

.sheet-tabs.tabs {
	border-top: 1px solid var(--aliengreen);
	border-bottom: 1px solid var(--aliengreen);
}
