@use '../utils/colors';

.tabs {
	height: 26px;
	font-size: 1em;
	color: var(--aliengreen);
	background-color: var(--color-cool-4);
	border: 1px solid;

	a {
		font-weight: bold;
		color: var(--aliengreen);
	}

	a.active {
		text-decoration: underline;
		text-shadow: none;
	}
}
// .colonytab {
// 	height: 26px;
// 	font-size: 1em;
// 	color: var(--aliengreen);
// 	background-color: var(--color-cool-4);
// 	border: 1px solid;
//   margin-top:-16px;
// 	a {
// 		font-weight: bold;
// 		color: var(--aliengreen);
// 	}

// 	a.active {
// 		text-decoration: underline;
// 		text-shadow: none;
// 	}
// }
