<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <!-- {{log "CONTEXT!!!!"}} {{log this}} -->

    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "ALIENRPG.Name"}}" /></h1>
      <div class="grid grid-2col">
        <div class="selectBox">
          <label>{{localize "ALIENRPG.Type"}}</label>
          <select name="data.header.type.value" data-dtype="{{data.header.type.value}}">
            {{#select data.header.type.value}}
            <!-- <option value=""></option> -->
            <option value="Ranged">{{localize "ALIENRPG.WepTypeRanged"}}</option>
            <option value="Melee">{{localize "ALIENRPG.WepTypeMelee"}}</option>
            {{/select}}
          </select>
        </div>
        <div class="resource">
          <label class="resource-label">{{localize "ALIENRPG.Class"}}</label>
          <input type="text" name="data.attributes.class.value" value="{{data.attributes.class.value}}" data-dtype="text" />
        </div>
        <div class="resource">
          <label class="resource-label">{{localize "ALIENRPG.Weight"}}</label>
          <input type="text" name="data.attributes.weight.value" class="flex maxboxsize" value="{{data.attributes.weight.value}}" data-dtype="Number" />
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">{{localize "ALIENRPG.Attributes"}}</a>
    <a class="item" data-tab="notes">{{localize "ALIENRPG.Notes"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Attributes Tab --}}
    <div class="tab attributes grid grid-3col" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      <div class="tab attributes" data-group="primary" data-tab="attributes">
        <label class="item-label">{{localize "ALIENRPG.Bonus"}}</label>
        <input type="text" class="maxboxsize" name="data.attributes.bonus.value" value="{{data.attributes.bonus.value}}" data-dtype="Number" />

        <label class="item-label">{{localize "ALIENRPG.Damage"}}</label>
        <input type="text" class="maxboxsize" name="data.attributes.damage.value" value="{{data.attributes.damage.value}}" data-dtype="Number" />

        <label class="item-label">{{localize "ALIENRPG.Cost"}}</label>
        <input type="text" class="cashboxsize currency" name="data.attributes.cost.value" value="{{data.attributes.cost.value}}" />
        <br />
        <label class="item-label">{{localize "ALIENRPG.Range"}}</label>
        <input type="text" class="textbox" name="data.attributes.range.value" value="{{data.attributes.range.value}}" data-dtype="String" />

        <br />
        <label class="item-label">{{localize "ALIENRPG.Comment"}}</label>
        <textarea name="data.attributes.comment.value" rows="2" data-dtype="String">{{data.attributes.comment.value}}</textarea>
      </div>
    </div>

    {{!-- Notes Tab --}}
    <div class="tab notes active" data-group="primary" data-tab="notes">
      {{editor content=data.notes.notes target="data.notes.notes" button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
