<form class="{{cssClass}}" autocomplete="off">
  <header class="vehicle-header">
    <div class="header-fields">
      <h1 class="charname">
        <select class="select-css" name="name" value="{{name}}" data-dcareer="{{name}}">
          {{#select name}}
          <!-- <option value=""></option> -->
          <option value="Heavy Machinery">{{localize "ALIENRPG.SkillHeavyMach"}}</option>
          <option value="Close Combat">{{localize "ALIENRPG.SkillCloseCbt"}}</option>
          <option value="Stamina">{{localize "ALIENRPG.SkillStamina"}}</option>
          <option value="Ranged Combat">{{localize "ALIENRPG.SkillRangedCbt"}}</option>
          <option value="Mobility">{{localize "ALIENRPG.SkillMobility"}}</option>
          <option value="Piloting">{{localize "ALIENRPG.SkillPiloting"}}</option>
          <option value="Command">{{localize "ALIENRPG.SkillCommand"}}</option>
          <option value="Manipulation">{{localize "ALIENRPG.SkillManipulation"}}</option>
          <option value="Medical Aid">{{localize "ALIENRPG.SkillMedicalAid"}}</option>
          <option value="Observation">{{localize "ALIENRPG.SkillObservation"}}</option>
          <option value="Survival">{{localize "ALIENRPG.SkillSurvival"}}</option>
          <option value="Comtech">{{localize "ALIENRPG.SkillComtech"}}</option>
          {{/select}}
        </select>
      </h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="stunts">{{localize "ALIENRPG.Stunts"}}</a>
    <!-- <a class="item" data-tab="notes">{{localize "ALIENRPG.Notes"}}</a> -->
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Attributes Tab --}}
    <div class="tab item" data-group="primary" data-tab="stunts">{{editor content=system.description target="system.description" button=true owner=owner editable=true}}</div>
  </section>
</form>
