<form class="{{cssClass}}" autocomplete="off">
	<header class="vehicle-header">
		<div class="header-fields">
			<h1 class="charname">
				<select class="select-css" name="name" value="{{name}}" data-dcareer="{{name}}">
					{{selectOptions skills_list selected=name nameAttr="key" labelAttr="label" localize=true}}
				</select>
			</h1>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="stunts">{{localize "ALIENRPG.Stunts"}}</a>
		<!-- <a class="item" data-tab="notes">{{localize "ALIENRPG.Notes"}}</a> -->
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body" style="height: 375px">
		{{!-- Attributes Tab --}}
		<div class="tab item" data-group="primary" data-tab="stunts" style="border: solid 1px; padding: 5px">
			{{editor system.description target="system.description" button=true owner=owner editable=true}}
		</div>
	</section>
</form>
