<form class="{{cssClass}}" style="min-height: 489px" autocomplete="off">
  <header class="vehicle-header">
    <img class="profile-img" src="{{img}}" data-edit="img" title="{{img}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="{{localize " ALIENRPG.Name"}}" /></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="general">{{localize "ALIENRPG.General"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body" style="height: 275px">
    {{!-- Attributes Tab --}}
    <div class="tab general" data-group="primary" data-tab="general">
      <h2 class="resource-label">{{localize "ALIENRPG.Description"}}</h2>
      <div class="tab item" style="border: solid 1px; padding: 5px">{{editor system.general.comment.value target="system.general.comment.value" button=true owner=owner editable=true}}</div>
    </div>
  </section>
</form>