<form class="{{cssClass}}" autocomplete="off">
  <header class="vehicle-header">
    <!-- {{log "CONTEXT!!!!"}} {{log this}} -->

    <!-- <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{talent.name}}" height="100" width="100" /> -->
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "ALIENRPG.Name"}}" /></h1>

      <div class="resources grid-weapon">
        <h3 class="wItem2 resource-label">{{localize "ALIENRPG.Type"}}</h3>
        <div class="selectBox wItem3">
          <select name="data.general.career.value" data-dcareer="{{data.general.career.value}}">
            {{#select data.general.career.value}}
            <!-- <option value=""></option> -->
            <option value="General Talent">{{localize "ALIENRPG.GeneralTalent"}}</option>
            <option value="Colonial Marine">{{localize "ALIENRPG.ColonialMarine"}}</option>
            <option value="Colonial Marshal">{{localize "ALIENRPG.ColonialMarshal"}}</option>
            <option value="Company Agent">{{localize "ALIENRPG.CompanyAgent"}}</option>
            <option value="Kid">{{localize "ALIENRPG.Kid"}}</option>
            <option value="Medic">{{localize "ALIENRPG.Medic"}}</option>
            <option value="Officer">{{localize "ALIENRPG.Officer"}}</option>
            <option value="Pilot">{{localize "ALIENRPG.Pilot"}}</option>
            <option value="Roughneck">{{localize "ALIENRPG.Roughneck"}}</option>
            <option value="Scientist">{{localize "ALIENRPG.Scientist"}}</option>
            {{/select}}
          </select>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="general">{{localize "ALIENRPG.General"}}</a>
    <a class="item" data-tab="notes">{{localize "ALIENRPG.Notes"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Attributes Tab --}}
    <div class="tab general" data-group="primary" data-tab="general">
      <h2 class="item-label">{{localize "ALIENRPG.Comment"}}</h2>
      <textarea name="data.general.comment.value" rows="16" data-dtype="String">{{data.general.comment.value}}</textarea>
    </div>

    {{!-- Notes Tab --}}
    <div class="tab item" data-group="primary" data-tab="notes">
      {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
